<% if type=='display_data'  %>
<div id="display_data">
  <textarea class="hide display_data">
    <% brands.each do |brand| %>
      <%= [brand.name,Report.brand_display(reports,brand.id)].join("|") %>
      <%= "~" unless brand == brands.last %>
    <% end -%>
  </textarea>
  <div class="row">
    <div class="col-sm-12 jchartfx" style="width: 400px; height: 400px; display: inline-block;" data-unit="display_data">
    </div>
  </div>
</div>
<% end -%>
<% if type=='sales_data'  %>
<div id="sales_data">
  <textarea class="hide sales_data">
    <% brands.each do |brand| %>
      <%= [brand.name,Report.brand_sales(reports,brand.id)].join("|") %>
      <%= "~" unless brand == brands.last %>
    <% end -%>
  </textarea>
  <div class="row">
    <div class="col-sm-12 jchartfx" style="width: 400px; height: 400px; display: inline-block;" data-unit="sales_data">
    </div>
  </div>
</div>
<% end -%>
<% if type=='corner_data'  %>
<div id="corner_data">
  <textarea class="hide corner_data">
    <% brands.each do |brand| %>
      <%= [brand.name,Report.brand_corner(reports,brand.id)].join("|") %>
      <%= "~" unless brand == brands.last %>
    <% end -%>
  </textarea>
  <div class="row">
    <div class="col-sm-12 jchartfx" style="width: 400px; height: 400px; display: inline-block;" data-unit="corner_data">
    </div>
  </div>
</div>
<% end -%>
<script type="text/javascript">
  $('document').ready(function(){
    onLoadDoc($("#<%= type %> .jchartfx"),"<%= type %>","Brand");  
  });
</script>