<textarea class="hide dispaly_category_data">
  <% categories.each do |category| %>
    <%= [category.name,Report.category_display(reports,category.id,brand)].join("|") %>
    <%= "~" unless category == categories.last %>
  <% end -%>
</textarea>
<textarea class="hide sale_category_data">
  <% categories.each do |category| %>
    <%= [category.name,Report.category_sales(reports,category.id,brand)].join("|") %>
    <%= "~" unless category == categories.last %>
  <% end -%>
</textarea>
<div id='category_data_chart' class="jFax-chart"></div>
<table class="table table-striped table-condensed chart-data-table">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Dispaly Data</th>
      <th>Sales Data</th>
    </tr>
  </thead>
  <tbody>
    <% categories.uniq.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= Report.category_display(reports,category.id,brand) %></td>
        <td><%= Report.category_sales(reports,category.id,brand) %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

<script type="text/javascript">
  $('document').ready(function(){
    loadCategoryChart();  
  });
</script>
