<div class="block">
  <div class="block-title">
    <h2>
      Shop Visit Reports
    </h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-vcenter">
      <thead>
        <tr>
          <th> S.No. </th>
          <th> Product Category </th>
          <th> Week No. </th>
          <th> Year </th>
          <th> Created by</th>
          <th> Created at </th>
          <th> Action </th>
          <% if can? :create, Task %>
            <th>Change Status</th>
          <% end %>  
        <tr/>
      </thead>
      <tbody>
      <% @posts.each_with_index do |post, index| %>
        <tr>
          <td> <%= link_to  index+1, "/shops/#{post.shop_id}/svr/#{post.id}" %> </td>
          <td> <%= ProductCategory.find(post.product_category_id).name %> </td>
          <td> <%= "#{post.reports.first.week}".to_i.ordinalize %> </td>
          <td> <%= post.reports.first.year %> </td>
          <td> <%= link_to post.user.name, activities_path(:user_id => post.user_id) %></td>
          <td> <%= post.created_at.strftime("%B %d, %Y") %> </td>
          <% if can? :create, Task %>
            <td class="text-center"> 
              <div class="btn-group btn-group-xs">
                <%= link_to raw("<i class='fa fa-pencil'></i>"),  "/shops/#{post.shop_id}/svrs/#{post.id}/edit", :class => 'btn btn-default', "data-toggle" => "tooltip", :title=> "Update" %>
               <%= link_to raw("<i class='fa fa-times'></i>"),  "/shops/#{post.shop_id}/svrs/#{post.id}", :method => :delete, :confirm => "are you sure? ", "data-toggle"=>"tooltip" ,:title=>"Delete", :class => 'btn btn-danger'  %> 
              </div> 
            </td>
            <td>
              <% unless post.published? %> 
                <%= link_to "Publish", publish_report_tasks_path(:post_id => post.id), :class => "btn btn-primary" %>
              <% else %> 
                <span> <%= link_to "Unpublished", unpublish_report_tasks_path(:post_id => post.id), :class => "btn btn-warning" %> </span>
              <% end %>
            </td>
          <% end %>   
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>  
</div>