<div class="row">
  <div class="col-md-12">
    <div class="block block-color block-bordered">
      <div class="block-title">
        <h3>
          <i class="icon-magic"></i>
          Add Report
        </h3>
      </div>
      <div class="block-content scrollable">
        <%= form_for @post , :url => shop_svrs_path(@shop) , :html => { :class => 'form-horizontal form-bordered form-validate', :multipart => true } do |f| %>
          <div class= " form-group error-box">
            <p><%= errors_for(@post, "").html_safe %></p>
          </div>
          
          <%= f.hidden_field :shop_id %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :product_category_id %>
          <%= f.hidden_field :dealer_id %>
          <%= f.hidden_field :task_id %>
          <%= f.hidden_field :status %>
          
          <div class='row'>
            <div class= "col-md-6" >
              <div class="row form-group">
                <%= f.label :year ,"Year", :class => 'control-label col-md-2' %>  
                <div class="col-md-4">
                  <%= f.select :year , options_for_select((2000..Date.today.year).to_a , Date.today.strftime('%Y')) , :value => Date.today.strftime('%Y'), :class => "form-control" %>
                </div>
              </div>
            </div>

            <div class ="col-md-6">
              <div class="row form-group">
                <%= f.label :week ,"Week number", :class => 'control-label col-md-2' %> 
                <%= f.select :week , options_for_select(year_weeks, Date.today.cweek-1), :class => " col-md-4  form-control", :value => Date.today.cweek  %>
              </div>
            </div>  
          </div>

          <%= f.fields_for :reports do |report| %>
            <% if report.object.report_type == 'display' or report.object.report_type == 'sales' %>
              <% type=report.object.report_type %>
              <div class="step">
                <div class="single-step">
                  <span class="circle">
                    <span class="active"></span>
                  </span>
                  <span class="description">
                    <h3 class="form-portion-head"> <%= report.object.report_type.capitalize %> Information </h3> <hr />
                  </span>
                </div>
              </div>
              <div class="step-forms ">
                <%= report.hidden_field :report_type %>
                <%= report.hidden_field :shop_id %>
                <%= report.hidden_field :user_id %>
                <div class="step-forms ">
                  <%= report.fields_for :report_lines do |report_line| %>
                    <div class="form-group">
                      <% brand= Brand.find report_line.object.brand_id %>
                      <%= report_line.hidden_field :product_category_id %>
                      <%= report_line.hidden_field :product_id %>
                      <%= report_line.hidden_field :brand_id %>
                      <%= report_line.label :data,"#{brand.name} #{type}", :class => 'control-label col-md-2' %>
                      <div class="col-md-5">
                        <%= report_line.text_field :data, :class => "form-control input-xlarge required number" %>
                      </div>  
                    </div>
                  <% end -%>
                </div>
              </div>
            <% else %>
              <% type=report.object.report_type %>
              <div class="step">
                <div class="single-step">
                  <span class="circle">
                    <span class="active"></span>
                  </span>
                  <span class="description">
                    <h3 class="form-portion-head"> <%= report.object.report_type.capitalize %> Information </h3> <hr />
                  </span>
                </div>
              </div>
              <div class="step-forms ">
                <%= report.hidden_field :report_type %>
                <%= report.hidden_field :shop_id %>
                <%= report.hidden_field :user_id %>
                <div class="step-forms ">
                  <%  index = 0 %>
                  <%= report.fields_for :report_lines do |report_line| %>
                    
                    <% brand= Brand.find report_line.object.brand_id %>
                    <%= report_line.hidden_field :product_category_id %>
                    <%= report_line.hidden_field :product_id %>
                    <%= report_line.hidden_field :brand_id %>
                    <div class="form-group">
                      <%= report_line.label :data,"#{brand.name.capitalize} #{type.capitalize}", :class => 'control-label col-md-2' %>
                      <div class="controls">
                        <div class = "radio-controls col-md-5 required" remote ="true"  >
                          <label class="radio" data-index= "<%= index %>">
                            <%= report_line.radio_button :data, "1" %>Yes
                          </label>
                          <label class="radio" data-index= "<%= index %>" >
                            <%= report_line.radio_button :data, "0" , :checked => "checked" %>No
                          </label>
                          <div class="parent-avatar-field">
                            <div class="avatar-fields">
                            </div>
                            <%= link_to "Add More", "#", :remote => :true , :class => "hide add_more_link", :data => {:index => index } %>
                          </div>  
                        </div>  
                      </div>
                    </div>
                    <% index = index +  1 %>
                  <% end -%>
                </div>
              </div>
            <% end -%>
          <% end -%>
          <div class="step">
            <div class="single-step">
              <span class="circle">
                <span class="active"></span>
              </span>
              <span class="description">
                <h3 class="form-portion-head"> Upload Extra Images </h3> <hr />
              </span>
            </div>
          </div>
          <div class="step-forms ">
            <div class="form-group">
              <label class="control-label col-md-2"> Do you want to upload images </label>
              <div class="parent-upload-field  col-md-5 controls">
              </div>
              <%= link_to raw("<i class='fa fa-plus-square'></i> add more"), "#", :remote => :true , :class => "add_more_upload_link controls btn btn-sm btn-default col-md-1"%>
            </div>  
          </div>  
          <div class="form-group form-actions text-center">
            <%= f.button raw("<i class='fa fa-angle-right'></i> Submit"), :class => 'btn btn-sm btn-success' %>
            <%= link_to raw("<i class='fa fa-angle-left'></i> Back"), shops_path(@shop), :class => 'btn btn-sm  btn-primary' %>            
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
