<div class="content-header">
  <div class="header-section">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <%= link_to raw("<i class='fa fa-angle-left'></i> Go to Shop"), shop_path(@shop), :class => 'btn btn-sm  btn-primary' %>
      </div> 
      <% if current_user.user_admin? or current_user.user_manager? %>
        <div class="btn-group">
          <ul class="nav nav-bar">  
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle btn btn-sm" data-toggle="dropdown" title="change-status"> <i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                <li><%= link_to "Publish", publish_report_tasks_path(:post_id => @post.id) %></li>
                <li><%= link_to "Unpublished", unpublish_report_tasks_path(:post_id => @post.id)%></li>
                <li><%= link_to "Draft", draft_report_tasks_path(:post_id => @post.id)%></li>
              </ul>  
            </li>  
          </ul> 
        </div>
      <% end %>  
      <% unless @post.published? %> 
        <div class="btn-group">
          <%= link_to raw("<i class='fa fa-pencil'></i>"),  "/shops/#{@post.shop_id}/svrs/#{@post.id}/edit", :class => "btn btn-sm btn-primary" %>
          <%= link_to raw("<i class='fa fa-times'></i>"),  "/shops/#{@post.shop_id}/svrs/#{@post.id}", :method => :delete, :confirm => "are you sure? ", :class => "btn btn-sm btn-danger" %>
        </div>
      <% end %>  
    </div>
    <h1>
      Shop Visit Report
    </h1>
  </div>
</div>  


<div class="row">
  <div class="<%= [@post.task , @post.published?].one? ? "col-md-6" : "" %> <%= (@post.task.present? && @post.published?) ? "col-md-3" : "col-md-9" %> ">
    <div class="widget">
      <table class="table table-borderless table-striped">
        <tbody>
          <tr>
            <td style="width: 30%;"><strong>Week</strong></td>
            <td><%= @report.week %></td>
          </tr>
          <tr>
            <td><strong>Dates</strong></td>
            <td><%= year_weeks[@report.week-1][0].split(' - ')[1] unless @report.week.blank? %></td>
          </tr>
          <tr>
            <td><strong>Shop</strong></td>
            <td><%= link_to @post.shop.dealer_name, shop_path(@post.shop) %></td>
          </tr>
          <tr>
            <td><strong>Dealer</strong></td>
            <td><%= link_to @post.dealer.name, dealer_path(@post.dealer) %></td>
          </tr>
          <tr>
            <td><strong>City</strong></td>
            <td><%= @post.shop.location.city.name %></td>
          </tr>
          <tr>
            <td><strong>Category</strong></td>
            <td><%= @display_report.first.product_category.name %></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget">
      <div class="widget-simple text-center">
        <h4 class="widget-content">
          <small>Submitted by</small>
        </h4>
        <%= link_to raw(image_tag(@report.user.avatar.avatar(:thumb), :class => 'widget-image img-circle')), activities_path(:user_id => @report.user_id) %>
        <h4 class="widget-content">
          <%= link_to raw("<strong>#{@report.user.name }</strong>"), activities_path(:user_id => @report.user_id) %>
        </h4>
        <h6 class="text-muted"><%= @post.created_at.strftime('%d %B, %Y - %I:%M %p')%></h6>
      </div>
    </div>
  </div>
  <% unless @post.task.blank? %>
   <div class="col-md-3">
      <div class="widget">
        <div class="widget-simple text-center">
          <h4 class="widget-content">
            <small>Assigned by</small>
          </h4>
          <% user = User.find(@post.task.try(&:assigned_by)) %>
          <%= link_to raw(image_tag(user.avatar.avatar(:thumb), :class => 'widget-image img-circle')), activities_path(:user_id => user.id) %>
            <h4 class="widget-content">
                <%= link_to raw("<strong> #{user.name}</strong>"), activities_path(:user_id =>user.id) %>
            </h4>
            <h6 class="text-muted"><%= @post.task.created_at.strftime('%d %B, %Y - %I:%M %p')%></h6>
          </div>
      </div>
    </div>
  <% end %>  
  <% if @post.published? %>
    <div class="col-md-3">
      <div class="widget">
        <div class="widget-simple text-center">
          <h4 class="widget-content">
            <small>Approved by</small>
          </h4>
          <% app_user = User.find(@post.approved_id) %>
          <%= link_to raw(image_tag(app_user.avatar.avatar(:thumb), :class => 'widget-image img-circle')), activities_path(:user_id => app_user.id) %>
            <h4 class="widget-content"><%= link_to raw("<strong> #{app_user.name}</strong>"), activities_path(:user_id =>app_user.id) %>
            </h4>
            <h6 class="text-muted"><%= @post.updated_at.strftime('%d %B, %Y - %I:%M %p')%></h6>
        </div>
      </div>
    </div>
  <% end %>  
</div>      
<div class="row">
  <div class="col-sm-12">
    <div class="block full">
      <div class="block-title">
        <h2><strong>Sales</strong> and <strong> Display</strong> Report</h2>
      </div>
      <div class="block-content">
        <%= render :partial => "/svrs/brand_bar", :locals => {:brands => @brands, :reports => @reports} %>
      </div> 
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="block dealers-image-block-height">
      <div class="block-title">
        <h2><strong>Display Corner</strong></h2>
        <ul class="nav nav-tabs" data-toggle="tabs">
          <li class="active"><a href="#corner_brand">Brands</a></li>
          <li><a href="#corner_category">Categories</a></li>
        </ul>
      </div>  
      <div class="tab-content scroll-dealer-report">
        <div class="tab-pane active" id="corner_brand">
          <div class="gallery" data-toggle="lightbox-gallery">
            <% @brand_report_lines.each do |brand_id,brand_report| %>
              <div class="row">
                <% brand_report.each do |line| %>
                  <% line.avatars.each do |upload| %>
                    <div class="col-sm-4 gallery-image">
                      <% if upload.avatar %>
                        <%= image_tag upload.avatar.url %>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url(:medium) %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% else %>
                        <%= image_tag "/assets/default.png"%>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% end%>
                    </div>  
                  <% end %>  
                <% end %>  
              </div>  
            <% end %>
          </div>  
        </div>
        <div class="tab-pane" id="corner_category">
          <div class="gallery" data-toggle="lightbox-gallery">
            <% @category_report_lines.each do |category,cat_report| %>
              <div class="row">
                <% cat_report.each do |line| %>
                  <% line.avatars.each do |upload| %>
                    <div class="col-sm-4 gallery-image">
                      <% if upload.avatar %>
                        <%= image_tag upload.avatar.url %>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% else %>
                        <%= image_tag "/assets/default.png"%>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% end%>
                    </div>  
                  <% end %>  
                <% end %>  
              </div>  
            <% end %>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="col-md-6">
    <div class="block dealers-image-block-height">
      <div class="block-title">
        <h2>Other Pictures</h2>
      </div>
      <div class="gallery scroll-dealer-report" data-toggle="lightbox-gallery">
        <div class="row">
          <% @post_uploads.each do |image| %>

            <div class="col-sm-4 gallery-image">
              <% if image.class.to_s == "Upload"%>
                <%= image_tag image.upload.url(:small) %>
                <div class="gallery-image-options text-center">
                  <div class="btn-group btn-group-sm">
                    <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                  </div>
                </div>      
              <% else %>
                <%= image_tag image.avatar.url(:small) %>
                <div class="gallery-image-options text-center">
                  <div class="btn-group btn-group-sm">
                    <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                  </div> 
                </div>  
              <% end %>
            </div>  
          <% end %>
        </div>  
      </div>
    </div>
  </div>      
</div>