<div class="content-header">
  <div class="header-section">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
          <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-sm btn-success dropdown-toggle">Published <span class="caret"></span></a>
          <ul class="dropdown-menu text-left">
            <% if @post.published? %>
              <li><%= link_to "Unpublish", unpublish_report_tasks_path(:post_id => @post.id) %></li>
            <% else %>  
              <li><%= link_to "Submit for Approval", publish_report_tasks_path(:post_id => @post.id) %></li>
            <% end %>   
          </ul>
      </div>
      <div class="btn-group">
        <%= link_to raw("<i class='fa fa-pencil'></i>"),  "/shops/#{@post.shop_id}/svrs/#{@post.id}/edit", :class => "btn btn-sm btn-primary" %>
        <%= link_to raw("<i class='fa fa-times'></i>"),  "/shops/#{@post.shop_id}/svrs/#{@post.id}", :method => :delete, :confirm => "are you sure? ", :class => "btn btn-sm btn-danger" %>
      </div>
    </div>
    <h1>
      Shop Visit Report
    </h1>
  </div>
</div>  


<div class="row">
  <div class="col-md-3">
    <div class="widget">
      <table class="table table-borderless table-striped">
        <tbody>
          <tr>
            <td style="width: 30%;"><strong>Week</strong></td>
            <td><%= @report.week %></td>
          </tr>
          <tr>
            <td><strong>Dates</strong></td>
            <td><%= year_weeks[@report.week-1][0].split(' - ')[1] unless @report.week.blank? %></td>
          </tr>
          <tr>
            <td><strong>Shop</strong></td>
            <td><%= link_to @post.shop.dealer_name, shop_path(@post.shop) %></td>
          </tr>
          <tr>
            <td><strong>Dealer</strong></td>
            <td><%= link_to @post.dealer.name, dealer_path(@post.dealer) %></td>
          </tr>
          <tr>
            <td><strong>City</strong></td>
            <td><%= @post.shop.location.city.name %></td>
          </tr>
          <tr>
            <td><strong>Category</strong></td>
            <td><%= @display_report.first.product_category.name %></td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget">
      <div class="widget-simple text-center">
        <h4 class="widget-content">
          <small>Submitted by</small>
        </h4>
        <%= link_to raw(image_tag(@report.user.avatar.avatar(:thumb), :class => 'widget-image img-circle')), activities_path(:user_id => @report.user_id) %>
        <h4 class="widget-content">
          <%= link_to raw("<strong>#{@report.user.name }</strong>"), activities_path(:user_id => @report.user_id) %>
        </h4>
        <h6 class="text-muted"><%= @post.created_at.strftime('%d %B, %Y - %I:%M %p')%></h6>
      </div>
    </div>
  </div>
  <% unless @post.task.blank? %>
   <div class="col-md-3">
    <div class="widget">
      <div class="widget-simple text-center">
          <h4 class="widget-content">
            <small>Assigned by</small>
          </h4>
          <% user = User.find(@post.task.try(&:assigned_by)) %>
          <%= link_to raw(image_tag(user.avatar.avatar(:thumb), :class => 'widget-image img-circle')), activities_path(:user_id => user.id) %>
            <h4 class="widget-content">
                <%= link_to raw("<strong> #{user.name}</strong>"), activities_path(:user_id =>user.id) %>
            </h4>
            <h6 class="text-muted"><%= @post.task.created_at.strftime('%d %B, %Y - %I:%M %p')%></h6>
        </div>

      </div>
    </div>
  <% end %>  
  <% if @post.published? %>
    <div class="col-md-3">
      <div class="widget">
        <div class="widget-simple text-center">
          <h4 class="widget-content">
            <small>Approved by</small>
          </h4>
          <% app_user = User.find(@post.approved_id) %>
          <%= link_to raw(image_tag(app_user.avatar.avatar(:thumb), :class => 'widget-image img-circle')), activities_path(:user_id => app_user.id) %>
            <h4 class="widget-content"><%= link_to raw("<strong> #{app_user.name}</strong>"), activities_path(:user_id =>app_user.id) %>
            </h4>
            <h6 class="text-muted"><%= @post.updated_at.strftime('%d %B, %Y - %I:%M %p')%></h6>
        </div>

      </div>
    </div>
  <% end %>  
</div>      
<div class="row">
  <div class="col-sm-12">
    <div class="block full">
      <div class="block-title">
        <h2><strong>SVR</strong> Reports</h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <textarea class="hide dispaly_brand_data">
              <% @brands.uniq.each do |brand| %>
                <%= [brand.name,Report.brand_display(@reports,brand.id)].join("|") %>
                <%= "~" unless brand == @brands.last %>
              <% end -%>
            </textarea>
            <textarea class="hide sale_brand_data">
              <% @brands.uniq.each do |brand| %>
                <%= [brand.name,Report.brand_sales(@reports,brand.id)].join("|") %>
                <%= "~" unless brand == @brands.last %>
              <% end -%>
            </textarea>
          <div id='brand_data_chart' style='width:950px;height:400px;'></div>
        </div>
     </div>  
  </div>  
  </div>
</div>

<% if can? :read, Upload%>
  <div class="span6">
    <div class="box box-color box-bordered">
    <div class="box-title">
      <h3>
        <i class="icon-picture"></i>
        Exta Uploads
      </h3>
      <div class="actions">

        <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
        <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
      </div>
    </div>
    <div class="box-content nopadding scrollable" data-height = "450px" data-visible="true">
      <ul class="gallery">
        <% @post_uploads.each do |image| %>
          <li>
            <% if image.class.to_s == "Upload"%>
              <a href="#">
                <%= image_tag image.upload.url(:small) %>
              </a>
              <div class="extras">
                <div class="extras-inner">
                  <a href="<%= image.upload.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                </div>
              </div>
            <% else %>
              <a href="#">
                <%= image_tag image.avatar.url(:small) %>
              </a>
              <div class="extras">
                <div class="extras-inner">
                  <a href="<%= image.avatar.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                </div>
              </div>
            <% end -%>
          </li>
        <% end -%>
      </ul>
    </div>
    </div>
  </div>
<% end -%>   

<script type="text/javascript">
  
  $(document).ready(function(){
    var chart1 = new cfx.Chart();

    chart1.setGallery(cfx.Gallery.Bar);
    PopulateCarProduction(chart1);
    var titles = chart1.getTitles();
    console.log(titles);
    var title = new cfx.TitleDockable();
    title.setText("Sale and Display Report");
    titles.add(title);

    chart1.create('brand_data_chart');

    function PopulateCarProduction(chart1) {
    
      var data1 = $('.dispaly_brand_data').val().replace(/\s/g, "").split('~');
      var data2 = $('.sale_brand_data').val().replace(/\s/g, "").split('~');
      var items = [];
      for(i = 0; i < data1.length; i++) {
        temp = data1[i].trim().split("|");
        temp1 = data2[i].trim().split("|");
        var item = {}
          item['Display'] = parseInt(temp[1]);
          item['Sales'] = parseInt(temp1[1]);
          item['brand'] = temp[0];
        items.push(item);
      }
      chart1.setDataSource(items);
    }
    
  });
</script>