<h2>Shop visit report</h2>
<hr>
<div class='row-fluid'>
  <div class='span4'>
    <table class='table table-bordered table-nomargin table-condensed'>
      <thead></thead>
        <tr>
          <td><strong>Week: </strong></td>
          <td><%= @report.week %></td>
        </tr>
        <tr>
          <td><strong>Date Range: </strong></td>
          <td><%= year_weeks[@report.week-1][0].split(' - ')[1] unless @report.week.blank? %></td>
        </tr>
        <tr>
          <td><strong>Submitted on: </strong></td>
          <td><%= @post.created_at.strftime('%d %B, %Y - %I:%M (%p)') %></td>
        </tr>
        <tr>
          <td><strong>Status: </strong></td>
          <td><%= @post.published ? 'Published' : 'Draft' %></td>
        </tr>
    </table>
  </div>
  <div class='span3 offset1'>
    <table class='table table-bordered table-nomargin table-condensed'>
      <thead></thead>
      <tr>
        <td><strong>Shop: </strong></td>
        <td><%= link_to @post.shop.dealer_name, shop_path(@post.shop) %></td>
      </tr>
      <tr>
        <td><strong>Dealer: </strong></td>
        <td><%= link_to @post.dealer.name, dealer_path(@post.dealer) %></td>
      </tr>
      <tr>
        <td><strong>City: </strong></td>
        <td><%= @post.shop.location.city.name %></td>
      </tr>
      <tr>
        <td><strong>Product Category: </strong></td>
        <td><%= @display_report.first.product_category.name %></td>
      </tr>
    </table>
  </div>
  <div class='span3 offset1'>
    <table class='table table-bordered table-nomargin table-condensed'>
      <thead></thead>
      <tr>
        <td><strong>Submitted by: </strong></td>
        <td><%= link_to @report.user.name, activities_path(:user_id => @report.user_id) %></td>
      </tr>
      <% if @post.task_id %>
        <tr>
          <td><strong>Assigned by: </strong></td>
          <td><%= link_to(@post.task.try(&:parent), activities_path(:user_id => @post.task.try(&:assigned_by))) %></td>
        </tr>
      <% end %>
       <% if can? :create, Task %> 
          <tr>
            <td><strong>Edit: </strong></td>
            <td><%= link_to "edit",  "/shops/#{@post.shop_id}/svrs/#{@post.id}/edit", :class => "btn btn-mini" %> </td>
          </tr>
          <tr>
            <td><strong>Delete: </strong></td>
            <td><%= link_to "delete",  "/shops/#{@post.shop_id}/svrs/#{@post.id}", :method => :delete, :confirm => "are you sure? ", :class => "btn btn-mini btn-danger"  %> </td>
          </tr>
        <% end %>  
        <% if @post.published? %>
          <tr>
            <td><strong>Approved by: </strong></td>
            <td><%= link_to User.find(@post.approved_id).name, activities_path(:user_id => @post.approved_id) unless @post.approved_id.blank? %></td>
          </tr>
        <% end %>
        <% if can? :create, Task %>
          <tr>
            <td><strong> Update Status: </strong></td>
            <td>
              <% unless @post.published? %> 
                <%= link_to "Publish Report", publish_report_tasks_path(:post_id => @post.id), :class => "btn btn-inverse" %>
              <% else %> 
                <%= link_to "Unpublish Report", unpublish_report_tasks_path(:post_id => @post.id), :class => "btn btn-inverse" %>
              <% end %>
            </td>
          </tr>  
        <% end %>  
    </table>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span6">
    <div class="box box-color box-bordered">
      <div class="box-title">
        <h3>
          <i class="icon-bar-chart"></i>
          Display
        </h3>
        <div class="actions">
          <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
        </div>
      </div>
      <div class="box-content nonpadding" data-height ='auto' >
        <div class='row-fluid'>
          
          <div class='span12'>
            <%= render :partial => "/svrs/bar", :locals => {:brands => @brands, :reports => @reports, :type => "display_data"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="box box-color box-bordered">
      <div class="box-title">
        <h3>
          <i class="icon-bar-chart"></i>
          Sales
        </h3>
        <div class="actions">
          <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
        </div>
      </div>
      <div class="box-content nonpadding" data-height ='auto' >
        <div class='row-fluid'>
          <div class='span12'>
            <%= render :partial => "/svrs/bar", :locals => {:brands => @brands, :reports => @reports, :type => "sales_data"} %>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="box box-color box-bordered">
      <div class="box-title">
        <h3>
          <i class="icon-bar-chart">
          Display Corner Report </i>
        </h3>
        <div class="actions">
          <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
        </div>
        <ul class="tabs">
          <li class="active">
            <a href="#brand-data" data-toggle="tab">Brand Data</a>
          </li>
          <li class="">
            <a href="#category-data" data-toggle="tab">Category Data</a>
          </li>
        </ul>
      </div>
      <%= render :partial => "shops/display_corner_report"%>
    </div>
  </div>
</div>    
