<li class="media user-activity subscribe-activity">
  <a href="<%= activities_path(:user_id => @owner.id) %>" class="pull-left user-link-small">
    <%= image_tag(@owner.avatar.avatar(:thumb), :class => "img-circle user-image-small") %>
  </a>
  <div class="media-body">
    <p class="push-bit">
      <span class="text-muted pull-right">
        <small><%= @activity.created_at.strftime("%B %d, %Y - %I:%M %p")%></small>
        <span class="text-danger" data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
      </span>
      <strong><%=link_to @owner.name, activities_path(:user_id => @owner.id) if @owner %>
          <%= render_activity @activity %>
      </strong>
    </p>
  </div>
</li>