<%= form_for([@dealer, @shop], :html => { :class => 'form-horizontal form-bordered shop_form form-validate' , :multipart => true })  do |f| %>
  <div class= " form-group error-box">
    <p><%= errors_for(@shop, "").html_safe %></p>
  </div>
 <h3 class="form-portion-head"> Shop Logo </h3>
  <%= f.fields_for :avatar do |f| %>
    <div class= "form-group">
      <%= f.label "Shop Icon", :id => :avatar, :class => 'control-label col-md-1'%>
      <div class="col-md-5">
        <%= f.file_field :avatar ,:class => 'avatar_field required form-control' %>
      </div>
    </div>
  <%end%> 

  <h3 class="form-portion-head"> Shop Location </h3>
  <%= f.fields_for :location do |f| %>
    <div class=" form-group">
      <%= f.label :city_id, :class => 'control-label col-md-1' %>
      <div class="col-md-5 city-selector">
        <%= f.collection_select :city_id, City.all,:id,:name, include_blank: true, :class => 'form-control required' %>
      </div>
    </div>
  
    <div class=" form-group">    
      <%= f.label :area_id, :class => 'control-label col-md-1' %>
        <div class="col-md-5 area-portion"></div>
    </div>  

    <div class=" form-group">
      <%= f.label :longitude, :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :longitude, :class => 'form-control text_field required number', :id => 'lng' %>
      </div>
    </div>

    <div class=" form-group">
      <%= f.label :latitude, :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :latitude, :class => 'form-control text_field required number', :id => 'lat' %>
      </div>
    </div>

    <div class=" form-group">
      <%= label_tag "","", :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <div id="location_canvas" style="height:300px;"></div>
        <br>
        <%= check_box_tag "", "", false, id: "confirm_pin", :class => 'pull-left confirm-pin required' %>
        <%= label_tag "confirm_pin", " Confirm this location" %>
      </div>
    </div>

  <% end -%>

  <div class="form-group">
    <%= f.label :dealer_name,"Shop Name", :class => 'control-label col-md-1' %>
    <div class="col-md-5">
      <%= f.text_field :dealer_name, :class => 'form-control text_field required' %>
    </div>
  </div>

  <div class=" form-group">
    <%= f.label :phone, :class => 'control-label col-md-1' %>
    <div class="col-md-5">
      <%= f.text_field :phone, :class => 'form-control number_field required' %>
    </div>
  </div>
  <div class=" form-group">
    <%= f.label :website, :class => 'control-label col-md-1' %>
    <div class="col-md-5">
      <%= f.text_field :website, :class => 'form-control text_field' %>
    </div>
  </div>
  <div class=" form-group">
    <%= f.label :email, :class => 'control-label col-md-1' %>
    <div class="col-md-5">
      <%= f.text_field :email, :class => 'form-control text_field' %>
    </div>
  </div>
  <div class=" form-group">
    <%= f.label :address, :class => 'control-label col-md-1' %>
    <div class="col-md-5">
      <%= f.text_field :address, :class => 'form-control text_field required' %>
    </div>
  </div>

  <div class=" form-group">
    <%= f.label :orient_dealer, :class => 'control-label col-md-1' %>
    <div class="col-md-1">
      <%= f.check_box :orient_dealer, :class => 'form-control check_box required' %>
    </div>
  </div>
  <div class=" form-group">
    <%= f.label :shop_category_id, :class => 'control-label col-md-1' %>
    <div class="col-md-5 shop-category">
      <%= f.collection_select :shop_category_id, ShopCategory.all,:id,:name, include_blank: true, :class => 'required form-control' %>
    </div>
  </div>

  
  <h3 class="form-portion-head">Owner Information</h3>
  <%= f.fields_for :owner do |f| %>
    <div class=" form-group">
      
      <%= f.label :name, :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :name, :class => 'form-control text_field required' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cell_number, :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :cell_number, :class => 'form-control text_field required
' %>
      </div>
    </div>

    <div class=" form-group">
      <%= f.label :dob,"Date of Birth", :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :dob, :readonly => true, :class => "form-control date datepicker" ,"data-date-format" => "dd-mm-yyyy" %><span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  <% end -%>
  
  <h3 class="form-portion-head">Manager Information</h3>

  <%= f.fields_for :manager do |f| %>
    <div class=" form-group">
      <%= f.label :name, :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :name, :class => 'form-control text_field required' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cell_number, :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :cell_number, :class => 'form-control text_field required' %>
      </div>
    </div>

    <div class=" form-group">
      <%= f.label :dob,"Date of Birth", :class => 'control-label col-md-1' %>
      <div class="col-md-5">
        <%= f.text_field :dob, :readonly => true, :class => "form-control date datepicker" ,"data-date-format" => "dd-mm-yyyy" %><span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  <% end -%>

 <div class="form-group form-actions text-center">
    <%= f.button raw("<i class='fa fa-angle-right'></i> Submit"), :class => 'btn btn-sm btn-success submit-btn' %>
    <% unless @dealer.blank? %>
      <%= link_to raw("<i class='fa fa-angle-left'></i> Back"), dealer_path(@dealer), :class => 'btn btn-sm btn-primary' %>
    <% else %>  
    <%= link_to raw("<i class='fa fa-angle-left'></i> Back"), dealers_path, :class => '  btn btn-sm btn-primary' %>
    <% end %>
  </div>
<% end %>

<%= content_for :footer_js do %>
<script type="text/javascript" charset="utf-8">
  var map;
  var markersArray = [];

  function initialize(lat,lng){
    pos = (lat + ",") + lng;
    var mapOptions = {
      'center': (new google.maps.LatLng(lat,lng)),
      zoom: 16,
      'disableDefaultUI':true
    };
    map = new google.maps.Map($("#location_canvas")[0], mapOptions);
    addMarker(new google.maps.LatLng(lat,lng));

  }

  function setgeolocation(address){
    geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK)
      {
          lat = results[0].geometry.location.lat();
          lng = results[0].geometry.location.lng();
          initialize(lat,lng)
      }
    });
  }

  function addMarker(location) {
    marker = new google.maps.Marker({
      position: location,
      map: map,
      'raiseOnDrag': true,
      'crossOnDrag': false,
      'draggable': true
    });
    point = marker.position;
    $("#lat").val(point.lat().toFixed(5));
    $("#lng").val(point.lng().toFixed(5));
    marker.addListener("dragend", function(marker, ev) {
      point = marker.latLng;
      $("#lat").val(point.lat().toFixed(5));
      $("#lng").val(point.lng().toFixed(5));
    });
    markersArray.push(marker);
  }

  function deleteOverlays() {
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(null);
      }
      markersArray.length = 0;
    }
  }

  function isNumber(o) {
    return !isNaN(o - 0);
  }

  function convert(c) {
      if (isNumber(c))
          return Number(c);

      var match = false;
      var points = {
          sign: 1,
          degree: 0,
          min: 0,
          sec: 0
      };

      var MinDec = /^([NWES+-])*(\d+)°(\d+).(\d+)'/i; // 067°08.601', -067°08.601', E067°08.601'
      var DMS = /^([NWES+-])*(\d+)°(\d+)'(\d+)\.?(\d+)*"/i; // 33°36'47", -33°36'47", N33°36'47"

      if (c.match(MinDec)) {
          var arr = MinDec.exec(c);

          match = true;
          points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
          points.degree = Number(arr[2]);
          points.min = Number(arr[3] + '.' + arr[4]);
      }
      else if (c.match(DMS)) {
          var arr = DMS.exec(c);

          match = true;
          points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
          points.degree = Number(arr[2]);
          points.min = Number(arr[3]);
          points.sec = Number(arr[4] + '.' + arr[5]);
      }

      if (match) {
          return (points.degree + ((points.min * 60 + points.sec) / 3600)) * points.sign;
      }

      return false;
  }

  $('document').ready(function () {

    $(".submit-btn").click(function(){
      $(".confirm-pin").is(":checked") == false ? alert("please confirm location") : null
    });

    if(($("#lat").val()=="")||($("#lng").val()==""))
      setgeolocation("Pakistan");
    else{
      lat = convert($("#lat").val());
      lng = convert($("#lng").val());
      if(lat &&  lng)
        initialize(lat,lng);
      else{
        $("#lat").val("");
        $("#lng").val("");
      }
    }

    $("#shop_location_attributes_city_id").change(function(){
      if($(this).val()!=""){
        address = $("#shop_location_attributes_city_id option:selected").text() + ', Pakistan';
        setgeolocation(address);
      }
    });
    $("#lat,#lng").blur(function(){
      if(($("#lat").val()!="")&&($("#lng").val()!="")){
        lat = convert($("#lat").val());
        lng = convert($("#lng").val());
        if(lat &&  lng)
          initialize(lat,lng);
        else{
          $("#lat").val("");
          $("#lng").val("");
        }
      }
    });

    //auto complete for dealer name
    $('.typeahead').typeahead({                                
      name: 'dealers',
      local: '<%= Dealer.all.collect{|c| c.name}.join("*") %>'.split("*"),
      limit: 10                                                                   
    });

    $(".dealers .twitter-typeahead .tt-dropdown-menu").addClass("dropdown-menu");

  });
</script>
<% end -%>