<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :location do |location| %>

    <div class="field">
      <%= location.label :city %>
      <%= location.collection_select :city_id, City.all,:id,:name, include_blank: true %>
    </div>

    <div class="field">
      <%= location.label :area %><br />
      <%= location.text_field :area %>
    </div>

    <div class="field">
      <%= location.label :longitude %><br />
      <%= location.text_field :longitude %>
    </div>

    <div class="field">
      <%= location.label :latitude %><br />
      <%= location.text_field :latitude %>
    </div>

  <% end -%>

  <div class="field">
    <%= f.label :dealer_name %><br />
    <%= f.text_field :dealer_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :dealer %><br />
    <%= f.check_box :dealer %>
  </div>
  <div class="field">
    <%= f.label :shop_category_id %><br />
    <%= f.collection_select :shop_category_id, ShopCategory.all,:id,:name, include_blank: true %>
  </div>

  <h2>Owner Info</h2>

  <%= f.fields_for :owner do |owner_fields| %>
    <div class="field">
      <%= owner_fields.label :name %><br />
      <%= owner_fields.text_field :name %>
    </div>

    <div class="field">
      <%= owner_fields.label :cell_number %><br />
      <%= owner_fields.text_field :cell_number %>
    </div>

    <div class="field">
      <%= owner_fields.label :dob %><br />
      <%= owner_fields.text_field :dob %>
    </div>

  <% end -%>

  <h2>Manager Info</h2>

  <%= f.fields_for :manager do |manager_fields| %>
    <div class="field">
      <%= manager_fields.label :name %><br />
      <%= manager_fields.text_field :name %>
    </div>

    <div class="field">
      <%= manager_fields.label :cell_number %><br />
      <%= manager_fields.text_field :cell_number %>
    </div>

    <div class="field">
      <%= manager_fields.label :dob %><br />
      <%= manager_fields.text_field :dob %>
    </div>

  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
