<% @corner_brand_report_lines.each do |brand_id,brand_report| %>
  <% unless brand_report.collect(&:avatars).flatten.blank? %>
    <div class="row">
      <span class="col-md-12 brand-name"><%= get_brand_name(brand_id) %></span>
    </div>
  <% end -%>
  <div class="row ">
    <% brand_report.each do |line| %>

      <% line.avatars.each do |upload| %>
        <div class="col-sm-4 gallery-image">
          <% if upload.avatar %>
            <%= image_tag upload.avatar.url %>
            <%= link_to raw(image_tag upload.avatar.url(:small)), image_path(upload, :type => "avatar", :class => "shops") %>
          <% else %>
            <%= image_tag "/assets/default.png"%>
          <% end%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.brand_corner_report_paginator nav.pagination').html("<%= j paginate @corner_reports, :params => {:host => request.host, :port => request.port, :controller => 'shops', :action => 'load_more_brand_corner_report_lines', :method => :get } %>");
  });
</script>