<div class="content-header content-header-media dealer-head-content" data-domain = "<%= APP_CONFIG["domain"] %>">
  <div class="header-section">
    <div class="row">
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
      <h1><strong>Shops</strong><br></h1>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="row text-center">
          <div class="col-xs-4 col-sm-3">
            <h2 class="animation-hatch">
              <strong><%= Shop.count %></strong><br>
              <small><i class="fa fa-map-marker"></i> Shops</small>
            </h2>
          </div>
          <div class="col-xs-4 col-sm-3">
            <h2 class="animation-hatch">
              <strong><%= Post.published_reports.count %></strong><br>
              <small><i class="fa fa-bar-chart-o"></i> SVRs</small>
            </h2>
          </div>
          <div class="col-sm-3 hidden-xs"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-header">
  <ul class="breadcrumb breadcrumb-top shops-breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><%= link_to "Shops", shops_path %></li>
  </ul>
  <div class="row filter-portion">
    <%= form_for :filter, :url => shops_path, :method => :get, :remote => true, :html => {:class => "shops-filter-form"} do |f| %>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> City </label>
          <%= f.collection_select :city_id, City.all,:id,:name, :class => "form-control", :prompt => 'All Cities'%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> Area </label>
          <%= f.collection_select :area_id, Area.all,:id,:name, :class => "form-control", :prompt => 'All Areas' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> Shop Category </label>
          <%= f.collection_select :shop_category_id, ShopCategory.all,:id,:name, :prompt => 'All Shop Categoroies', :class => "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group week-picker">
          <label class="control-label">Date Range</label>
          <%= f.text_field :from, :readonly => true, :class => " col-md-5 filter-datepicker from-picker",:placeholder => "From" %><span class="col-md-1 arrow-range"><i class="fa fa-angle-right"></i></span>
          <%= f.text_field :to, :readonly => true, :class => "col-md-5 filter-datepicker to-picker", :placeholder => "To" %>
        </div>
      </div>
     <div class="col-md-1 apply-btn">
        <%= link_to "Apply", '#', :class=>"btn btn-primary ajax-submit-btn" %>
      </div>
    <% end %>
    <div id="ajax-loading" class="display-none"><%= image_tag '/assets/ajax_loader_google.gif' %>
    </div>
  </div>
</div>
<div  id="modal-user" class="modal">
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<a href="#modal-user" data-toggle="modal" class="person-inform-link"></a>
<div class="shops-content">
  <div class="row">
    <div class="col-md-6">
      <%= render :partial => "/shared/map"%>
    </div>
    <% if can? :read, Shop%>
      <div class="col-md-6">
        <div class="block shops-block">
          <div class="block-title">
            <% if can? :create, Shop %>
              <div class="new-button pull-right">
               <%= link_to raw("<i class='gi gi-new_window_alt'></i> Add Shop"), new_shop_path,  :class => "btn btn-large btn-default" %>
              </div>
            <% end %>
            <h3>
              Shops
            </h3>
          </div>
          <div class="block-content dealers-data-height dearlers-list scroll-dealers-data">
            <div class="row">
              <%= form_for(:shop, :url => load_more_shops_shops_path, :html => {:method => :get, :remote => true, :class => "custom-shop-form"}) do  %>
                <div class="col-md-3">
                  <label> Search Shop </label>
                </div>
                <div class="col-md-9">
                  <%= text_field_tag "dealer_name" %>
                </div>
              <% end %>
            </div>
            <table class="table table-hover shops-table">
              <thead>
                <tr>
                  <th>Shop Name </th>
                  <th>Orient Dealer</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="shop-table-body">
                <% @limited_shops.each do |shop| %>
                  <tr>
                    <td><%= shop_link_with_name(shop) %></td>
                    <td><%= orient_dealer(shop) %></td>
                    <td><%= shop_edit_link(shop)  %> <%= shop_delete_link(shop) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="shop-pagination pull-right">
            <%= paginate @limited_shops, :remote => true, :params => { :controller => 'shops', :action => 'load_more_shops', :method => :get } %>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
  <% unless @posts.blank? %>
    <div class="row">
      <% if can? :read, Report %>
        <div class="col-md-12">
          <div class="block">
            <div class="block-title">
              <h3><strong> Sales &amp; Display  Report</strong></h3>
              <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><a class="brand-tab" href="#brand-display-data">Brands</a></li>
                <li><a class="category-tab" href="#category-display-data">Categories</a></li>
              </ul>
            </div>
            <div class="block-content">
              <div class="tab-content">
               <div class="tab-pane active" id="brand-display-data">
                  <%= form_for :search,:url => brand_search_svrs_path, :html => {:class => "report-search"}, :method => :post do |f| %>
                    <select name="search[product][]" multiple = "true">
                      <option value="">All</option>
                      <% @categories.each do |pc| %>
                        <% if pc.products.blank? %>
                          <option value="<%= pc.name %>"><%= pc.name %></option>
                        <% else %>
                          <optgroup label="<%= pc.name %>">
                            <% pc.products.each do |product| %>
                              <option value="<%= product.name %>"><%= product.name %></option>
                            <% end -%>
                          </optgroup>
                        <% end -%>
                      <% end -%>
                    </select>
                    <%= f.select :year , options_for_select(present_year(@reports) , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                    <%= f.select :week , options_for_select(present_week (@reports)),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                  <% end -%>
                  <div class="brand-chart-data">
                    <%= render :partial => "/svrs/brand_bar", :locals => {:brands => @brands, :reports => @reports} %>
                  </div>
               </div>
               <div class="tab-pane active" id="category-display-data">
                  <%= form_for :search,:url => category_search_svrs_path, :html => {:class => "category-report-search"}, :method => :post do |f| %>
                    <select name="search[brand][]" multiple = "true">
                      <option value="">All</option>
                      <% @brands.each do |pc| %>
                        <option value="<%= pc.id %>"><%= pc.name %></option>
                      <% end -%>
                    </select>
                    <%= f.select :year , options_for_select(present_year(@reports) , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                    <%= f.select :week , options_for_select(present_week (@reports)),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                  <% end -%>
                  <div class="category-chart-data">
                    <%= render :partial => "/svrs/category_bar", :locals => {:categories => @categories, :reports => @reports, :brand => nil} %>
                  </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block corner-report">
          <div class="block-title">
            <h2><strong>Display Corner Reports</strong></h2>
            <ul class="nav nav-tabs" data-toggle="tabs">
              <li class="active"><a href="#corner_brand">Brands</a></li>
              <li><a href="#corner_category">Categories</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="corner_brand">
              <div class="gallery brand-content scroll-brand-corner-report brand-result" data-toggle="lightbox-gallery">
                <% @corner_brand_report_lines.each do |brand_id,brand_report| %>
                  <% unless brand_report.collect(&:avatars).flatten.blank? %>
                    <div class="row">
                      <span class="col-md-12 brand-name"><%= get_brand_name(brand_id) %></span>
                    </div>
                  <% end -%>
                  <div class="row ">
                    <% brand_report.each do |line| %>
                      <% line.avatars.each do |upload| %>
                        <div class="col-sm-4 gallery-image">
                          <% if upload.avatar %>
                            <%= image_tag upload.avatar.url %>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url(:medium) %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% else %>
                            <%= image_tag "/assets/default.png"%>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% end%>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <div class="hide brand_corner_report_paginator">
                  <%= paginate @corner_reports, :params => { :controller => 'shops', :action => 'load_more_brand_corner_report_lines', :method => :get } %>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="corner_category">
              <div class="gallery categroy-content scroll-category-corner-report category-result" data-toggle="lightbox-gallery">
                <% @corner_category_report_lines.each do |category,cat_report| %>
                 <% unless cat_report.collect(&:avatars).flatten.blank? %>
                    <div class="row">
                      <span class="col-md-12 brand-name"><%= get_productcategory_name(category) %></span>
                    </div>
                  <% end %>
                  <div class="row">
                    <% cat_report.each do |line| %>
                      <% line.avatars.each do |upload| %>
                        <div class="col-sm-4 gallery-image">
                          <% if upload.avatar %>
                            <%= image_tag upload.avatar.url %>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% else %>
                            <%= image_tag "/assets/default.png"%>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% end%>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <div class="hide category_corner_report_paginator">
                  <%= paginate @corner_reports, :params => { :controller => 'shops', :action => 'load_more_category_corner_report_lines', :method => :get } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block image-block">
          <div class="block-title">
            <h2>Images</h2>
          </div>
          <div class="gallery upload-image-block scroll-upload-images" data-toggle="lightbox-gallery">
            <div class="row upload-content">
              <% @uploads.each do |image| %>
                <div class="col-sm-4 gallery-image">
                  <% if image.class.to_s == "Upload"%>
                    <%= image_tag image.upload.url(:small) %>
                    <div class="gallery-image-options text-center">
                      <div class="btn-group btn-group-sm">
                        <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                      </div>
                    </div>
                  <% else %>
                    <%= image_tag image.avatar.url(:small) %>
                    <div class="gallery-image-options text-center">
                      <div class="btn-group btn-group-sm">
                        <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <div class="hide upload_images_paginator">
                <%= paginate @uploads, :params => { :controller => 'shops', :action => 'load_more_uploads', :method => :get } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class = "row">
    <% if @posts.blank? %>
        <div class="col-md-6">
          <div class="block image-block">
            <div class="block-title">
              <h2>Images</h2>
            </div>
            <div class="gallery upload-image-block scroll-upload-images" data-toggle="lightbox-gallery">
              <div class="row upload-content">
                <% @uploads.each do |image| %>
                  <div class="col-sm-4 gallery-image">
                    <% if image.class.to_s == "Upload"%>
                      <%= image_tag image.upload.url(:small) %>
                      <div class="gallery-image-options text-center">
                        <div class="btn-group btn-group-sm">
                          <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                        </div>
                      </div>
                    <% else %>
                      <%= image_tag image.avatar.url(:small) %>
                      <div class="gallery-image-options text-center">
                        <div class="btn-group btn-group-sm">
                          <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class="hide upload_images_paginator">
                  <%= paginate @uploads, :params => { :controller => 'shops', :action => 'load_more_uploads', :method => :get } %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% if can? :read, People%>
      <div class="col-md-6">
        <div class="block dealers-image-block-height">
          <div class="block-title">
            <h3>
              <i class="icon-user">
              People </i>
            </h3>
          </div>
          <div class="block-content shop-peoples-content scroll-dealer-report" >
            <div class="people">
              <ul class="shop-peoples">
                <% @peoples.each do |people| %>
                  <li>
                    <span class="people-image"> <%= image_tag(people.avatar.avatar(:thumb)) %></span>
                    <label class="people-name"><%= people.name %> </label>
                     <span class='icon search_btn' data-id = "<%= people.id %>" ><a href="#" class='btn'><i class="fa fa-search"></i></a></span>
                  </li>
                <% end%>
                <div class="hide shop_people_paginator">
                  <%= paginate @peoples, :params => { :controller => 'shops', :action => 'load_more_peoples', :method => :get } %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <%end -%>
  </div>
</div>

<%= content_for :footer_js do %>
<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {


    $(".custom-shop-form input[type='text']").keydown(function(e){
      $.ajax( {
        type: "GET",
        url: $(".custom-shop-form").attr( 'action'),
        data: $(".custom-shop-form").serialize(),
        success: function( response ) {
          console.log('');
        }
      });

    });

    $(".ajax-submit-btn").click(function(){
      $('#ajax-loading').removeClass("display-none");
      $(".shops-filter-form").submit();
    });

    $(".search_btn").click( function ()
      {
        id = $(this).data("id");
        $.ajax ({
          url:  '/dealers/' + id + '/showmodal',
          success: function(data)
          {
            $("#modal-user").html(data);
            $(".person-inform-link").click();
          }
        });
      });


    $('.report-search').ajaxForm({
      success: showResponse
    });
    $('.report-search select').change(function(){
      $(this).parent().submit();
    });
    $('.category-report-search').ajaxForm({
        success: showCatResponse
      });
    $('.category-report-search select').change(function(){
      $(this).parent().submit();
    });
  });

  $(document).on('click', '#shop-data tbody a', function(){
    window.location=$(this).attr('src');
  });
</script>
<% end -%>
