<!-- Shop Profile Header -->
<div class="content-header content-header-media">
  <div class="header-section">
    <% if @shop.avatar.present?  %>
      <%= image_tag(@shop.avatar.avatar.url(:thumb), :class =>"pull-right img-circle") %>
    <% else %>  
      <%= image_tag('/assets/default.png', :class => "img-circle pull-right" , :size => "65x70" )%>
    <% end %> 
    <h1><span class='name'><%= @shop.dealer_name %></span></h1>
  </div>
</div>  

<div  id="modal-user" class="modal">
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<a href="#modal-user" data-toggle="modal" class="person-inform-link"></a>
<div class="row">
  <div class="col-md-6">
    <div class="block block-color block-bordered">
      <div class="block-title">
        <div class="btn-toolbar pull-right">
            <div class="btn-group new-report-btn-position">
              <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><i class="icon-align-left"></i> Add Report <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% ProductCategory.all.each do |pc| %>
                  <% if !pc.products.blank? %>
                    <li class='dropdown-submenu'>
                      <a href="#" data-toggle="dropdown" class='dropdown-toggle'><%= pc.name%></a>
                      <ul class="dropdown-menu pull-left">
                        <% pc.products.each do |product|%>
                          <li>
                            <%= link_to product.name, new_shop_svr_path(@shop, :product_category_id => pc.id, :product_id => product.id) %>
                          </li>
                        <% end -%>
                      </ul>
                    </li>
                  <%else%>
                    <li>
                      <%= link_to pc.name, new_shop_svr_path(@shop, :product_category_id => pc.id) %>
                    </li>
                  <%end%>
                <% end -%>
              </ul>
            </div>  
          </div>
        <h3>

          <i class="icon-bar-chart"></i>
           Shop Visit Reports
        </h3>
        <div class="actions">
          <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
        </div>
      </div>
      <div class="block-content nonpadding scroll-dealer" >
        <table class="table table-hover table-nomargin table-bordered dataTable-fixedcolumn dataTable-scroll-x dataTable-scroll-y">
          <thead>
            <tr>
              <th> S.No. </th>
              <th> Product Category </th>
              <th> Report Created by</th>
              <th> Report Created at </th>
              <% if can? :create, Task %>
                <th>Change Status</th>
              <% end %>  
            <tr/>
          </thead>
          <tbody>
            <% @posts.each_with_index do |post, index| %>
              <tr>
                <td> <%= link_to  index+1, "/shops/#{post.shop_id}/svr/#{post.id}" %> </td>
                <td> <%= ProductCategory.find(post.product_category_id).name %> </td>
                <td> <%= link_to post.user.name, activities_path(:user_id => post.user_id) %></td>
                <td> <%= post.created_at.strftime("%B %d, %Y") %> </td>
                <% if can? :create, Task %>
                  <td>
                    <% unless post.published? %> 
                      <%= link_to "Publish", publish_report_tasks_path(:post_id => post.id), :class => "btn btn-success" %>
                    <% else %> 
                      <span> <%= link_to "Unpublished", unpublish_report_tasks_path(:post_id => post.id), :class => "btn btn-warning" %> </span>
                    <% end %>
                  </td>
                <% end %>   
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
    </div>
  </div>  
  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2>Basic Information</h2>
      </div> 
      <table class="table table-borderless table-striped">
        <tbody>
          <tr>
            <td style="width: 20%;"><strong>Dealer Name </strong></td>
            <td><%= @shop.dealer_name %></td>
          </tr>
          <tr>
            <td style="width: 20%;"><strong>Branch Of </strong></td>
            <td><%= @shop.branch_of %></td>
          </tr>
          <tr>
            <td style="width: 20%;"><strong>Phone </strong></td>
            <td><%= @shop.phone %></td>
          </tr>
          <% if @shop.website != 'N/A' %>
            <tr>
              <td style="width: 20%;"><strong>Website </strong></td>
              <td><%= @shop.website %></td>
            </tr>
          <% end %>
          <% if @shop.email != 'N/A' %>
            <tr>
              <td style="width: 20%;"><strong>Email</strong></td>
              <td><%= @shop.email %></td>
            </tr>
          <% end -%>
          <% if @shop.address %>
            <tr>
              <td style="width: 20%;"><strong>Address</strong></td>
              <td><%= @shop.address %></td>
            </tr>
          <% end %>
          <tr>
            <td>Orient Dealer</td>
            <% if @shop.orient_dealer %>
              <td>Yes</td>
            <% else %>
              <td>No</td>
            <% end %>
          </tr>
          <% if @shop.shop_category.try(:name)%>
            <tr>
              <td>Shop Category</td>
              <td><%= @shop.shop_category.name %></td>
            </tr>
          <% end %>
          <tr>
            <td style="width: 20%;"><%= Location %></td>
            <% child_class = Location %>
            <% if @shop.location.try(:city) %>
              <td>
               City :  <%= @shop.location.city.name %>
              </td>  
            <% end -%>
            <% if @shop.location.try(:area) %>
              <td>
               Area :  <%= @shop.location.area.name %>
              </td> 
            <% end -%>

        </tbody>
      </table> 
    </div>  
  </div>
</div>    
<div class="row">
  <div class="col-md-12">
    <div class="block block-color block-bordered">
      <div class="block-title">
        <h3>
          <i class="icon-map-marker"></i>
          Location Information
        </h3>
      </div>
      <div class="block-content no-padding" style="height:540px !important;">
          <% child_class = Location %>
          <%= hidden_field_tag "lat", @shop.location.try(:latitude), :id => "lat" %>
          <%= hidden_field_tag "lng", @shop.location.try(:longitude), :id => "lng" %>
          <%= hidden_field_tag "shop_category", @shop.shop_category.name, :id => "shop_category" %>
          <div class="row">
            <div class="col-md-12" id="map_location" style="height:540px;"></div>
          </div>
      </div>
    </div>
  </div> 
</div>
<div class="row">
  <% if can? :read, Report %>
    <div class="col-md-12">
      <div class="block">
        <div class="block-title">
          <h3><strong> Display &amp; Corner  Reports</strong></h3>
          <ul class="nav nav-tabs" data-toggle="tabs">
            <li class="active"><a class="brand-tab" href="#brand-display-data">Brands</a></li>
            <li><a class="category-tab" href="#category-display-data">Categories</a></li>
          </ul>
        </div>  
        <div class="block-content">
          <div class="tab-content">
           <div class="tab-pane active" id="brand-display-data">
              <%= form_for :search,:url => brand_search_svrs_path, :html => {:class => "report-search"}, :method => :post do |f| %>
                <%= hidden_field_tag "shop_id", @shop.id %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% @categories.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="brand-chart-data">
                <%= render :partial => "/svrs/brand_bar", :locals => {:brands => @brands, :reports => @reports} %>
              </div>  
           </div>
           <div class="tab-pane active" id="category-display-data">
              <%= form_for :search,:url => category_search_svrs_path, :html => {:class => "category-report-search"}, :method => :post do |f| %>
                <%= hidden_field_tag "shop_id", @shop.id %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% @brands.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ), {} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="category-chart-data">
                <%= render :partial => "/svrs/category_bar", :locals => {:categories => @categories, :reports => @reports, :brand => nil} %>
              </div>
           </div> 
          </div>
        </div>  
      </div>  
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2><strong>Display Corner Reports</strong></h2>
        <ul class="nav nav-tabs" data-toggle="tabs">
          <li class="active"><a href="#corner_brand">Brands</a></li>
          <li><a href="#corner_category">Categories</a></li>
        </ul>
      </div>  
      <div class="tab-content scroll-dealer">
        <div class="tab-pane active" id="corner_brand">
          <div class="gallery" data-toggle="lightbox-gallery">
            <% @brand_report_lines.each do |brand_id,brand_report| %>
              <div class="row">
                <% brand_report.each do |line| %>
                  <% line.avatars.each do |upload| %>
                    <div class="col-sm-4 gallery-image">
                      <% if upload.avatar %>
                        <%= image_tag upload.avatar.url %>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url(:medium) %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% else %>
                        <%= image_tag "/assets/default.png"%>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% end%>
                    </div>  
                  <% end %>  
                <% end %>  
              </div>  
            <% end %>
          </div>  
        </div>
        <div class="tab-pane" id="corner_category">
          <div class="gallery" data-toggle="lightbox-gallery">
            <% @category_report_lines.each do |category,cat_report| %>
              <div class="row">
                <% cat_report.each do |line| %>
                  <% line.avatars.each do |upload| %>
                    <div class="col-sm-4 gallery-image">
                      <% if upload.avatar %>
                        <%= image_tag upload.avatar.url %>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% else %>
                        <%= image_tag "/assets/default.png"%>
                        <div class="gallery-image-options text-center">
                          <div class="btn-group btn-group-sm">
                            <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                          </div>
                        </div>
                      <% end%>
                    </div>  
                  <% end %>  
                <% end %>  
              </div>  
            <% end %>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2>Images</h2>
        <% if can? :create, Upload%>
            <div class="btn-group upload-form">
              <%= form_for [@shop, Upload.new], :html => { :multipart => true, :id => "fileupload", :class => "form-validate col-md-12" } do |f| %>
                <%=f.file_field :upload , :class => "required col-md-6"%>
                <button type="submit" class="btn btn-danger col-md-6" rel="tooltip" title="Upload new image" ><i class="icon-cloud-upload"></i> Upload image</button>
              <% end -%>
            </div>
          <% end -%>
      </div>
      <div class="gallery" data-toggle="lightbox-gallery">
        <div class="row">
          <% count = 0%>
          <% @shop_uploads.each do |image| %>
            <% break if count == 9  %>
            <div class="col-sm-4 gallery-image">
              <% if image.class.to_s == "Upload"%>
                <%= image_tag image.upload.url(:small) %>
                <div class="gallery-image-options text-center">
                  <div class="btn-group btn-group-sm">
                    <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                  </div>
                </div>      
              <% else %>
                <%= image_tag image.avatar.url(:small) %>
                <div class="gallery-image-options text-center">
                  <div class="btn-group btn-group-sm">
                    <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                  </div> 
                </div>  
              <% end %>
            </div>  
            <% count = count+1 %>
          <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%if can? :read, Owner, Manager%>
    <div class="col-md-6">
      <div class="block block-color block-bordered">
        <div class="block-title">
          <h3>
            <i class="icon-user">
            People </i>
          </h3>
        </div>
        <div class="block-content nopadding scrollable" data-height="500" data-visible="true"   >
          <table class="table table-user table-nohead">
            <tbody  remote ="true">
              <tr>
                <td class ="img"><img src="/assets/demo/user-1.jpg" alt=""></td>
                <td class="user"><%= @shop.owner.name %></td>
                <td class='icon search_btn' data-id = <%= @shop.id%> data-type = "owner" ><a href="#" class='btn'><i class="fa fa-search"></i></a></td>
              </tr>
              <tr>
                <td class ="img"><img src="/assets/demo/user-2.jpg" alt=""></td>
                <td class="user"><%= @shop.manager.name %></td>
                <td class='icon search_btn' data-id =  <%= @shop.id%> data-type = "manager" ><a href="#" class='btn'><i class="fa fa-search"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <%end%>
</div>


<%= content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    var map;
    var markersArray = [];
    var category

    function initialize(lat,lng){

      pos = (lat + ",") + lng;
      var mapOptions = {
        'center': (new google.maps.LatLng(lat,lng)),
        zoom: 16,
        'disableDefaultUI':true,
        'mapTypeControl': true,
        'panControl': true,
        'zoomControl': true
      };
      map = new google.maps.Map($("#map_location")[0], mapOptions);
      addMarker(new google.maps.LatLng(lat,lng),category);

    }

    function addMarker(location,shop_category) {
      switch(shop_category)
      {
        case "Sony World" || "Sony Center":
          marker_icon = '/assets/icon/sony.png';
          break;
        case "Dawlance USL" :
          marker_icon ='/assets/icon/dawlance-usl.png';
          break;
        case "Orient Exclusive" :
          marker_icon = '/assets/icon/orient.png';
          break;  
        case "Orient Center" :
          marker_icon = '/assets/icon/orient-center.png';
          break;
        case "Dawlance Exclusive" :
          marker_icon = '/assets/icon/dawlance.png';
          break;
        case "Haier Exclusive" :
          marker_icon = '/assets/icon/haier.png';
          break;
        case "LG Concept Shop" :
          marker_icon = '/assets/icon/lg.png';
          break;
        case "PEL Exclusive" :
          marker_icon = '/assets/icon/pel.png';
          break; 
        case "Ruba Digital" :
          marker_icon = '/assets/icon/ruba-digital.png';
          break; 
        case "Samsung Concept Shop" || "Samsung Brand Shop":
          marker_icon = '/assets/icon/samsung.png';
          break;
        case "Singer Plus" :
          marker_icon = '/assets/icon/singer.png';
          break;   
        default:
          marker_icon ='';
        break;  
      } 
      marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: marker_icon
      });
      marker.addListener("dragend", function(marker, ev) {
        point = marker.latLng;
      });
      markersArray.push(marker);
    }

    function deleteOverlays() {
      if (markersArray) {
        for (i in markersArray) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;
      }
    }

    function isNumber(o) {
      return !isNaN(o - 0);
    }

    function convert(c) {
        if (isNumber(c))
            return Number(c);

        var match = false;
        var points = {
            sign: 1,
            degree: 0,
            min: 0,
            sec: 0
        };

        var MinDec = /^([NWES+-])*(\d+)°(\d+).(\d+)'/i; // 067°08.601', -067°08.601', E067°08.601'
        var DMS = /^([NWES+-])*(\d+)°(\d+)'(\d+)\.?(\d+)*"/i; // 33°36'47", -33°36'47", N33°36'47"

        if (c.match(MinDec)) {
            var arr = MinDec.exec(c);

            match = true;
            points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
            points.degree = Number(arr[2]);
            points.min = Number(arr[3] + '.' + arr[4]);
        }
        else if (c.match(DMS)) {
            var arr = DMS.exec(c);

            match = true;
            points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
            points.degree = Number(arr[2]);
            points.min = Number(arr[3]);
            points.sec = Number(arr[4] + '.' + arr[5]);
        }

        if (match) {
            return (points.degree + ((points.min * 60 + points.sec) / 3600)) * points.sign;
        }

        return false;
    }

    $('document').ready(function () {
      lat = convert($("#lat").val());
      lng = convert($("#lng").val());
      category= $("#shop_category").val();
      
      

      if(lat &&  lng)
        initialize(lat,lng);
      
      
      $(".search_btn").click( function ()
      {
        id = $(this).data("id");
        type = $(this).data("type")
        $.ajax ({
          url:  '/dealers/' + id + '/showmodal',
          data: {type: type},
          success: function(data)
          {                              
            $("#modal-user").html(data);
            $(".person-inform-link").click();
          }
        });
      });
      $('.report-search').ajaxForm({
        success: showResponse
      });
      $('.report-search select').change(function(){
        $(this).parent().submit();
      });
      $('.category-report-search').ajaxForm({
          success: showCatResponse
        });
      $('.category-report-search select').change(function(){
        $(this).parent().submit();
      });
    });

  </script>
<% end -%>