<div id="modal-user" class="modal hide">
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <ul class="tiles span8">
      <li class="image" style="margin:0px;">
        <a href="#">
          <% if @shop.avatar.present? %>
            <%= image_tag @shop.avatar.avatar.url(:small) %>
          <% else %>
            <%= image_tag "/assets/default.png" %>
          <% end -%>
          <span class='name'><%= @shop.dealer_name %></span>
        </a>
      </li>
    </ul>
    <div class="span4">
      <div class="btn-group pull-right" style="margin-top:20px;">
        <a href="#" data-toggle="dropdown" class="btn btn-large btn-inverse dropdown-toggle"><i class="icon-align-left"></i> Add Report <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% ProductCategory.all.each do |pc| %>
              <li><%= link_to "#{pc.name} Report", new_shop_report_path(@shop, :product_category_id => pc.id) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6" >
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-reorder"></i>
            Basic Information
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
        </div>
        <div class="box-content">
          <dl class="span12" >
            <%- model_class = Shop -%>
            <dt><strong><%= model_class.human_attribute_name(:dealer_name) %>:</strong></dt>
            <dd><%= @shop.dealer_name %></dd>
            <dt><strong><%= model_class.human_attribute_name(:branch_of) %>:</strong></dt>
            <dd><%= @shop.branch_of %></dd>
            <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
            <dd><%= @shop.phone %></dd>
            <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
            <dd><%= @shop.website %></dd>
            <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
            <dd><%= @shop.email %></dd>
            <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
            <dd><%= @shop.address %></dd>
            <dt><strong><%= model_class.human_attribute_name(:orient_dealer) %>:</strong></dt>
            <dd><%= @shop.orient_dealer %></dd>
            <dt><strong><%= model_class.human_attribute_name(:shop_category_id) %>:</strong></dt>
            <dd><%= @shop.shop_category.try(:name) %></dd>
            <br><br>
            <dt><strong><%= model_class.human_attribute_name(:location_id) %></strong></dt>
            <dd></dd>
            <% child_class = Location %>
            <dt><strong><%= child_class.human_attribute_name(:city_id) %>:</strong></dt>
            <dd><%= @shop.location.try(:city).try(:name) %></dd>
            <dt><strong><%= child_class.human_attribute_name(:area) %>:</strong></dt>
            <dd><%= @shop.location.try(:area) %></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-map-marker"></i>
            Location Information
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
        </div>
        <div class="box-content" style="padding:0px;">
            <% child_class = Location %>
            <%= hidden_field_tag "lat", @shop.location.try(:latitude), :id => "lat" %>
            <%= hidden_field_tag "lng", @shop.location.try(:longitude), :id => "lng" %>
            <div class="row-fluid">
              <div class="span12" id="map_location" style="height:500px;"></div>
            </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="row-fluid">
    <% if can? :read, Report %>
      <div class="span6">
        <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-bar-chart"></i>
            Disaplay Report
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
          <ul class="tabs">
            <li class="active">
              <a href="#brand-display-data" data-toggle="tab">Brand Data</a>
            </li>
            <li class="">
              <a href="#category-display-data" data-toggle="tab">Category Data</a>
            </li>
          </ul>
        </div>
        <div class="box-content">
          <div class="tab-content">
            <div class="tab-pane active" id="brand-display-data">
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "display_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "display_data" %>
                <%= hidden_field_tag "shop_id", @shop.id %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                   
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ), {} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="display_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => Brand.all, :reports => @shop.reports, :type => "display_data"} %>
              </div>
            </div>
            <div class="tab-pane active" id="category-display-data">
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "display_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "display_data" %>
                <%= hidden_field_tag "shop_id", @shop.id %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="display_category_data_chart">
                <%= render :partial => "/reports/category_bar", :locals => {:categories => ProductCategory.all, :reports => @shop.reports, :type => "display_data", :brand => nil} %>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end -%>
    <% if can? :read, Report%>
      <div class="span6">
        <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-bar-chart"></i>
            Sales Report
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
          <ul class="tabs">
            <li class="active">
              <a href="#brand-sales-data" data-toggle="tab">Brand Data</a>
            </li>
            <li class="">
              <a href="#category-sales-data" data-toggle="tab">Category Data</a>
            </li>
          </ul>
        </div>
        <div class="box-content">
          <div class="tab-content">
            <div class="tab-pane active" id="brand-sales-data">
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "sales_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "sales_data" %>
                <%= hidden_field_tag "shop_id", @shop.id %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                   
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="sales_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => Brand.all, :reports => @shop.reports, :type => "sales_data"} %>
              </div>
            </div>
            <div class="tab-pane active" id="category-sales-data">
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "sales_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "sales_data" %>
                <%= hidden_field_tag "shop_id", @shop.id %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="sales_category_data_chart">
                <%= render :partial => "/reports/category_bar", :locals => {:categories => ProductCategory.all, :reports => @shop.reports, :type => "sales_data", :brand => nil} %>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end -%>  
  </div>

  <div class="row-fluid">
    <% if can? :read, Report%>
      <% if !@category_report_lines.blank? && !@brand_report_lines.blank? %>
        <div class="span6">
          <div class="box box-color box-bordered">
            <div class="box-title">
              <h3>
                <i class="icon-bar-chart">
                Display Corner Report </i>
              </h3>
              <div class="actions">
                <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
              </div>
              <ul class="tabs">
                <li class="active">
                  <a href="#brand-data" data-toggle="tab">Brand Data</a>

                </li>
                <li class="">
                  <a href="#category-data" data-toggle="tab">Category Data</a>
                </li>
              </ul>
            </div>
            <%= render :partial => "shops/display_corner_report"%>
          </div>
        </div>
      <% end %>  
    <% end -%>
    <div class="span6">
        <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-picture"></i>
            Images
          </h3>
          <div class="actions">
            <%= link_to "View All", shop_uploads_path(@shop), :class=> "btn btn-primary" %>
            <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
        </div>
        <div class="box-content nopadding">
          <div class="highlight-toolbar">
            <div class="pull-right">
              
              <div class="btn-toolbar">
                <% if can? :create, Upload%>  
                  <div class="btn-group">
                  <%= form_for [@shop, Upload.new], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
                    <%= f.file_field :upload %>
                    <button type="submit" class="btn btn-danger" rel="tooltip" title="Upload new image" ><i class="icon-cloud-upload"></i> Upload image</button>
                  <% end -%>
                  </div>
                <% end -%>  
              </div>
            </div>
          </div>
          <ul class="gallery">
            <% @shop.uploads.limit(6).each do |image| %>
              <li>
                <a href="#">
                  <%= image_tag image.upload.url(:small) %>
                </a>
                <div class="extras">
                  <div class="extras-inner">
                    <a href="<%= image.upload.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                    <a href="<%= image.to_jq_upload['delete_url'] %>" class='del-gallery-pic' data-method="delete"><i class="icon-trash"></i></a>
                  </div>
                </div>
              </li>
            <% end -%>
          </ul>
        </div>
        </div>
    </div>
  </div>
  <div class="row-fluid">
    <%if can? :read, Owner, Manager%>
      <div class="span6">
        <div class="box box-color box-bordered">
          <div class="box-title">
            <h3>
              <i class="icon-user">
              People </i>
            </h3>
            <div class="actions">
              <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
              <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
              <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
            </div>
          </div>
          <div class="box-content nopadding scrollable" data-height="500" data-visible="true"   >
            <table class="table table-user table-nohead">
              <tbody  remote ="true">
                <tr>
                  <td class ="img"><img src="/assets/demo/user-1.jpg" alt=""></td>
                  <td class="user"><%= @shop.owner.name %></td>
                  <td class='icon search_btn' data-id = <%= @shop.id%> data-type = "owner" ><a href="#" class='btn'><i class="icon-search"></i></a></td>
                </tr>    
                <tr>
                  <td class ="img"><img src="/assets/demo/user-2.jpg" alt=""></td>
                  <td class="user"><%= @shop.manager.name %></td>
                  <td class='icon search_btn' data-id =  <%= @shop.id%> data-type = "manager" ><a href="#" class='btn'><i class="icon-search"></i></a></td>
                </tr>
              </tbody>
            </table>    
          </div>
        </div>
      </div>
    <%end%>
    

  </div>  
</div>

<%= content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    var map;
    var markersArray = [];

    function initialize(lat,lng){
      pos = (lat + ",") + lng;
      var mapOptions = {
        'center': (new google.maps.LatLng(lat,lng)),
        zoom: 16,
        'disableDefaultUI':true
      };
      map = new google.maps.Map($("#map_location")[0], mapOptions);
      addMarker(new google.maps.LatLng(lat,lng));

    }

    function addMarker(location) {
      marker = new google.maps.Marker({
        position: location,
        map: map
      });
      marker.addListener("dragend", function(marker, ev) {
        point = marker.latLng;
      });
      markersArray.push(marker);
    }

    function deleteOverlays() {
      if (markersArray) {
        for (i in markersArray) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;
      }
    }

    function isNumber(o) {
      return !isNaN(o - 0);
    }

    function convert(c) {
        if (isNumber(c))
            return Number(c);

        var match = false;
        var points = {
            sign: 1,
            degree: 0,
            min: 0,
            sec: 0
        };

        var MinDec = /^([NWES+-])*(\d+)°(\d+).(\d+)'/i; // 067°08.601', -067°08.601', E067°08.601'
        var DMS = /^([NWES+-])*(\d+)°(\d+)'(\d+)\.?(\d+)*"/i; // 33°36'47", -33°36'47", N33°36'47"

        if (c.match(MinDec)) {
            var arr = MinDec.exec(c);

            match = true;
            points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
            points.degree = Number(arr[2]);
            points.min = Number(arr[3] + '.' + arr[4]);
        }
        else if (c.match(DMS)) {
            var arr = DMS.exec(c);

            match = true;
            points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
            points.degree = Number(arr[2]);
            points.min = Number(arr[3]);
            points.sec = Number(arr[4] + '.' + arr[5]);
        }

        if (match) {
            return (points.degree + ((points.min * 60 + points.sec) / 3600)) * points.sign;
        }

        return false;
    }

    $('document').ready(function () {
      lat = convert($("#lat").val());
      lng = convert($("#lng").val());
      if(lat &&  lng)
        initialize(lat,lng);
      $('.report-search').ajaxForm({
          success: showResponse
        });
      $('.report-search select').change(function(){
        $(this).parent().submit();
      });
      $('.category-report-search').ajaxForm({
          success: showCatResponse
        });
      $('.category-report-search select').change(function(){
        $(this).parent().submit();
      });
      $('#category-display-data,#category-sales-data,#category-corner-data').removeClass('active');
      
      $(".search_btn").click( function ()
        {
          id = $(this).data("id");
          type = $(this).data("type")
          $.ajax ({
            url:  '/dealers/' + id + '/showmodal',
            data: {type: type},
            success: function(data)
            {                              
              $("#modal-user").html(data);
            }
          });
        });
    });

  </script>
<% end -%>