<div class="content-header shop-head-content">
  <div class="header-section shop-header">
    <% if @shop.avatar.present?  %>
      <%= image_tag(@shop.avatar.avatar.url(:thumb), :class =>"pull-left img-circle") %>
    <% else %>
      <%= image_tag('/assets/default.png', :class => "img-circle pull-left" , :size => "65x70" )%>
    <% end %>
    <h1 class="shop-heading"><%= @shop.dealer_name %></h1>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><%= link_to "Shops", shops_path %></li>
    <li><%= link_to @shop.dealer_name, @shop %></a></li>
  </ul>
</div>

<div class="content-header">
  <div class="row filter-portion dealers-filter">
    <%= form_for :filter, :url => shop_path(@shop), :method => :get, :remote => true, :html => {:class => "shop-filter-form" } do |f| %>
      <div class="col-md-2">
        <div class="form-group week-picker">
          <label class="control-label">Date Range</label>
          <%= f.text_field :from, :readonly => true, :class => " col-md-5 filter-datepicker from-picker",:placeholder => "From"%><span class="col-md-1 arrow-range"><i class="fa fa-angle-right"></i></span>
          <%= f.text_field :to, :readonly => true, :class => "col-md-5 filter-datepicker to-picker", :placeholder => "To" %>
          </div>
      </div>
      <div class="col-md-1 apply-btn">
        <%= link_to "Apply", '#', :class=>"btn btn-primary ajax-submit-btn" %>
      </div>
    <% end %>
    <div id="ajax-loading" class="display-none"><%= image_tag '/assets/ajax_loader_google.gif' %></div>
  </div>
</div>

<div  id="modal-user" class="modal">
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<a href="#modal-user" data-toggle="modal" class="person-inform-link"></a>
<div class="row">
  <div class="col-md-6">
    <div class="block block-color block-bordered shop-map-block">
      <div class="block-title no-margin-bottom">
        <h3>
          <i class="icon-map-marker"></i>
          Location Information
        </h3>
      </div>
      <div class="block-content no-padding shop-map-block">
          <% child_class = Location %>
          <%= hidden_field_tag "lat", @shop.location.try(:latitude), :id => "lat" %>
          <%= hidden_field_tag "lng", @shop.location.try(:longitude), :id => "lng" %>
          <%= hidden_field_tag "shop_category", @shop.shop_category.name, :id => "shop_category" %>
          <div class="col-md-12 shop-map" id="map_location"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block shop-info-block">
      <div class="block-title">
        <% if can? :update, Shop %>
          <div class="new-button pull-right">
            <%= link_to raw("<i class='gi gi-edit'></i> Edit Shop"), edit_shop_path(@shop),  :class => "btn btn-large btn-default" %>
          </div>
        <% end %>
        <h2>Basic Information</h2>
      </div>
      <div class="block-content no-padding">
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td style="width: 20%;"><strong>Dealer Name </strong></td>
              <td><%= link_to @shop.dealer.name, dealer_path(@shop.dealer)  %></td>
            </tr>
            <% if @shop.shop_category.try(:name)%>
              <tr>
                <td><strong>Shop Category</strong></td>
                <td><%= @shop.shop_category.name %></td>
              </tr>
            <% end %>
            <tr>
              <td><strong>Orient Dealer</strong></td>
              <% if @shop.orient_dealer %>
                <td><span class="label label-success">Yes</span></td>
              <% else %>
                <td><span class="label label-danger">No</span></td>
              <% end %>
            </tr>
            <% if @shop.address %>
              <tr>
                <td style="width: 20%;"><strong>Address</strong></td>
                <td><%= @shop.address %></td>
              </tr>
            <% end %>
            <% if @shop.location.try(:area) %>
              <tr>
                <td style="width: 20%;"><strong>Area</strong></td>
                <td><span class="label label-info"> <%= @shop.location.area.name %></span></td>
              </tr>
            <% end -%>
            <% if @shop.location.try(:city) %>
              <tr>
                <td style="width: 20%;"><strong>City</strong></td>
                <td><span class="label label-primary"> <%= @shop.location.city.name %></span></td>
              </tr>
            <% end -%>
            <tr>
              <td style="width: 20%;"><strong>Phone </strong></td>
              <td><%= @shop.phone %></td>
            </tr>
            <% if @shop.email != 'N/A' %>
              <tr>
                <td style="width: 20%;"><strong>Email</strong></td>
                <td><%= @shop.email %></td>
              </tr>
            <% end -%>
            <% if @shop.website != 'N/A' %>
              <tr>
                <td style="width: 20%;"><strong>Website </strong></td>
                <td><%= @shop.website %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="shop-report-content">
  <div class="row">
    <% if @posts.present? %>
      <% if can? :read, Report %>
        <div class="col-md-12">
          <div class="block">
            <div class="block-title">
              <h3><strong> Sales &amp; Display  Report</strong></h3>
              <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><a class="brand-tab" href="#brand-display-data">Brands</a></li>
                <li><a class="category-tab" href="#category-display-data">Categories</a></li>
              </ul>
            </div>
            <div class="block-content">
              <div class="tab-content">
               <div class="tab-pane active" id="brand-display-data">
                  <%= form_for :search,:url => brand_search_svrs_path, :html => {:class => "report-search"}, :method => :post do |f| %>
                    <%= hidden_field_tag "shop_id", @shop.id %>
                    <select name="search[product][]" multiple = "true">
                      <option value="">All</option>
                      <% @categories.each do |pc| %>
                        <% if pc.products.blank? %>
                          <option value="<%= pc.name %>"><%= pc.name %></option>
                        <% else %>
                          <optgroup label="<%= pc.name %>">
                            <% pc.products.each do |product| %>
                              <option value="<%= product.name %>"><%= product.name %></option>
                            <% end -%>
                          </optgroup>
                        <% end -%>
                      <% end -%>
                    </select>
                    <%= f.select :year , options_for_select(present_year(@reports) , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                    <%= f.select :week , options_for_select(present_week (@reports)),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                  <% end -%>
                  <div class="brand-chart-data">
                    <%= render :partial => "/svrs/brand_bar", :locals => {:brands => @brands, :reports => @reports} %>
                  </div>
               </div>
               <div class="tab-pane active" id="category-display-data">
                  <%= form_for :search,:url => category_search_svrs_path, :html => {:class => "category-report-search"}, :method => :post do |f| %>
                    <%= hidden_field_tag "shop_id", @shop.id %>
                    <select name="search[brand][]" multiple = "true">
                      <option value="">All</option>
                      <% @brands.each do |pc| %>
                        <option value="<%= pc.id %>"><%= pc.name %></option>
                      <% end -%>
                    </select>
                    <%= f.select :year , options_for_select(present_year(@reports) , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                    <%= f.select :week , options_for_select(present_week (@reports)),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                  <% end -%>
                  <div class="category-chart-data">
                    <%= render :partial => "/svrs/category_bar", :locals => {:categories => @categories, :reports => @reports, :brand => nil} %>
                  </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end -%>
  </div>
  <% if @posts.present? %>
    <div class="row">
      <div class="col-md-6">
        <div class="block shop-corner-report">
          <div class="block-title">
            <h2><strong>Display Corner Reports</strong></h2>
            <ul class="nav nav-tabs" data-toggle="tabs">
              <li class="active"><a href="#corner_brand">Brands</a></li>
              <li><a href="#corner_category">Categories</a></li>
            </ul>
          </div>
          <div class="tab-content scroll-shop-report coner-report">
            <div class="tab-pane active" id="corner_brand">
              <div class="gallery" data-toggle="lightbox-gallery">
                <% unless @brand_report_lines.values.flatten.collect(&:avatars).flatten.blank? %>
                  <% @brand_report_lines.each do |brand_id,brand_report| %>
                    <% unless brand_report.collect(&:avatars).flatten.blank? %>
                      <div class="row">
                        <span class="col-md-12 brand-name"><%= get_brand_name(brand_id) %></span>
                      </div>
                    <% end -%>
                     <div class="row">
                      <% brand_report.each do |line| %>
                        <% line.avatars.each do |upload| %>
                          <div class="col-sm-4 gallery-image">
                            <% if upload.avatar %>
                              <%= link_to raw(image_tag upload.avatar.url(:small)), shop_image_path(@shop,upload, :type => "avatar") %>
                            <% else %>
                              <%= image_tag "/assets/default.png"%>
                            <% end%>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="alert alert-info">
                      <h4><i class="fa fa-info-circle"></i> Corner Brand Images </h4> not available!
                    </div>
                <% end -%>
              </div>
            </div>
            <div class="tab-pane" id="corner_category">
              <div class="gallery" data-toggle="lightbox-gallery">
                <% unless @category_report_lines.values.flatten.collect(&:avatars).flatten.blank? %>
                  <% @category_report_lines.each do |category,cat_report| %>
                    <% unless cat_report.collect(&:avatars).flatten.blank? %>
                      <div class="row">
                        <span class="col-md-12 brand-name"><%= get_productcategory_name(category) %></span>
                      </div>
                    <% end %>
                     <div class="row">
                      <% cat_report.each do |line| %>
                        <% line.avatars.each_with_index do |upload, index| %>
                          <div class="col-sm-4 gallery-image">
                            <% if upload.avatar %>
                              <%= link_to raw(image_tag upload.avatar.url(:small)), shop_image_path(@shop,upload, :type => "avatar") %>
                            <% else %>
                              <%= image_tag "/assets/default.png"%>
                            <% end%>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                  <% else %>
                    <div class="alert alert-info">
                      <h4><i class="fa fa-info-circle"></i> Corner Category Images </h4> not available!
                    </div>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block shop-images-block">
          <div class="block-title">
            <h2>Images</h2>
          </div>
          <div class="gallery scroll-shop-image" data-toggle="lightbox-gallery">
            <div class="row">
              <% unless @shop_uploads.blank? %>
                <% @shop_uploads.each do |image| %>
                  <div class="col-sm-4 gallery-image">
                    <% if image.class.to_s == "upload"%>
                      <%= link_to raw(image_tag image.upload.url(:small)), shop_image_path(@shop,image, :type => "upload") %>
                    <% else %>
                      <a href="<%=shop_image_path(@shop,image)%>">
                        <%= link_to raw(image_tag image.avatar.url(:small)), shop_image_path(@shop,image,:type => "avatar" )%>
                      </a>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="alert alert-info">
                  <h4><i class="fa fa-info-circle"></i> Shop Images </h4> Not available!
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="block shop-peoples-block">
      <div class="block-title">
        <h3>
          <i class="icon-user">
          People </i>
        </h3>
      </div>
      <div class="block-content scroll-shop-people">
        <% unless  @shop.peoples.blank? %>
          <div class="people ">
            <ul>
              <% @shop.peoples.each do |people| %>
                <li>
                  <span class="people-image"> <%= image_tag(people.avatar.avatar(:thumb)) %></span>
                  <label class="people-name"><%= people.name %> </label>
                   <span class='icon search_btn' data-id = "<%= people.id %>" ><a href="#" class='btn'><i class="fa fa-search"></i></a></span>
                </li>
              <% end%>
            </ul>
          </div>
        <% else %>
          <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> People </h4> Not available!
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block shop-svrs-block">
      <div class="block-title">
        <div class="btn-toolbar pull-right">
          <div class="btn-group new-report-btn-position">
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><i class="icon-align-left"></i> Add Report <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
              <% ProductCategory.all.each do |pc| %>
                <% if !pc.products.blank? %>
                  <li class='dropdown-submenu'>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'><%= pc.name%></a>
                    <ul class="dropdown-menu pull-right">
                      <% pc.products.each do |product|%>
                        <li>
                          <%= link_to product.name, new_shop_svr_path(@shop, :product_category_id => pc.id, :product_id => product.id) %>
                        </li>
                      <% end -%>
                    </ul>
                  </li>
                <%else%>
                  <li>
                    <%= link_to pc.name, new_shop_svr_path(@shop, :product_category_id => pc.id) %>
                  </li>
                <%end%>
              <% end -%>
            </ul>
          </div>
        </div>
        <h3>
          <i class="fa fa-bar-chart-o"></i>
           Shop Visit Reports
        </h3>
      </div>
      <div class="block-content scroll-shop-svr" >
        <% unless @posts.blank? %>
          <table class="table table-hover table-bordered " id="shop-svr-table">
            <thead>
              <tr>
                <th> Id </th>
                <th> Product Category </th>
                <th> Created by</th>
                <th> Created at </th>
                <% if can? :create, Task %>
                  <th>Status</th>
                <% end %>
              <tr/>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td> <%= link_to  post.id, "/shops/#{post.shop_id}/svr/#{post.id}" %> </td>
                  <td> <%= ProductCategory.find(post.product_category_id).name %> </td>
                  <td> <%= link_to post.user.name, activities_path(:user_id => post.user_id) %></td>
                  <td> <%= post.created_at.strftime("%B %d, %Y") %> </td>
                  <% if can? :create, Task %>
                    <td>
                      <% unless post.published? %>
                       <span> <%= link_to "Publish", publish_report_tasks_path(:post_id => post.id), :class => "btn btn-success" %> </span>
                      <% else %>
                        <span> <%= link_to "Unpublished", unpublish_report_tasks_path(:post_id => post.id), :class => "btn btn-warning" %> </span>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> SVR  </h4> Not available!
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="row" id="comments">
  <div class="col-md-12">
      <div class="block block-color block-bordered">
        <div class="block-title">
          <h3>
            <i class="icon-report"></i>
            Comments
          </h3>
        </div>
        <div class="block-content">
          <div class="media">
              <div class="comment-length pull-right"> Total comments :  <span class="length"><%= @length  %></span></div>
              <% if @length > 10 %>
                <div class="view_more pull-right"><%= link_to 'View all', 'javascript:;', :data => {:shop => @shop.id}, :class => " btn btn-xs btn-default push view_all_shop_comment"  %>
                </div>
              <% end %>
            </div>
          <ul class="media-list push">

            <div class="comments-content">
              <%= render :partial => "/shared/view_comments"%>
            </div>
            <li class="media">
               <%= link_to raw(image_tag(current_user.get_avatar.avatar(:thumb), :class => "img-circle comment-user-image")), activities_path(:user_id => current_user.id),:class => "pull-left comment-user-image-link" %>
                <div class="media-body">
                  <%= form_for :comment, :url => create_comment_shop_path(@shop) do |f| %>
                    <%= f.text_area :content , :class => "form-control", :rows => 2, :placeholder => "Your comment .." %>
                    <button type="submit" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Post Comment</button>
                  <% end %>
                </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>

<%= content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    var map;
    var markersArray = [];
    var category

    function initialize(lat,lng){

      pos = (lat + ",") + lng;
      var mapOptions = {
        'center': (new google.maps.LatLng(lat,lng)),
        zoom: 16,
        'disableDefaultUI':true,
        'mapTypeControl': true,
        'panControl': true,
        'zoomControl': true
      };
      map = new google.maps.Map($("#map_location")[0], mapOptions);
      addMarker(new google.maps.LatLng(lat,lng),category);

    }

    function addMarker(location,shop_category) {
      switch(shop_category)
      {
        case "Sony World" || "Sony Center":
          marker_icon = '/assets/icon/sony.png';
          break;
        case "Dawlance USL" :
          marker_icon ='/assets/icon/dawlance-usl.png';
          break;
        case "Orient Exclusive" :
          marker_icon = '/assets/icon/orient.png';
          break;
        case "Orient Center" :
          marker_icon = '/assets/icon/orient-center.png';
          break;
        case "Dawlance Exclusive" :
          marker_icon = '/assets/icon/dawlance.png';
          break;
        case "Haier Exclusive" :
          marker_icon = '/assets/icon/haier.png';
          break;
        case "LG Concept Shop" :
          marker_icon = '/assets/icon/lg.png';
          break;
        case "PEL Exclusive" :
          marker_icon = '/assets/icon/pel.png';
          break;
        case "Ruba Digital" :
          marker_icon = '/assets/icon/ruba-digital.png';
          break;
        case "Samsung Concept Shop" || "Samsung Brand Shop":
          marker_icon = '/assets/icon/samsung.png';
          break;
        case "Singer Plus" :
          marker_icon = '/assets/icon/singer.png';
          break;
        default:
          marker_icon ='';
        break;
      }
      marker = new google.maps.Marker({
        position: location,
        map: map,
        icon: marker_icon
      });
      marker.addListener("dragend", function(marker, ev) {
        point = marker.latLng;
      });
      markersArray.push(marker);
    }

    function deleteOverlays() {
      if (markersArray) {
        for (i in markersArray) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;
      }
    }

    function isNumber(o) {
      return !isNaN(o - 0);
    }

    function convert(c) {
        if (isNumber(c))
            return Number(c);

        var match = false;
        var points = {
            sign: 1,
            degree: 0,
            min: 0,
            sec: 0
        };

        var MinDec = /^([NWES+-])*(\d+)°(\d+).(\d+)'/i; // 067°08.601', -067°08.601', E067°08.601'
        var DMS = /^([NWES+-])*(\d+)°(\d+)'(\d+)\.?(\d+)*"/i; // 33°36'47", -33°36'47", N33°36'47"

        if (c.match(MinDec)) {
            var arr = MinDec.exec(c);

            match = true;
            points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
            points.degree = Number(arr[2]);
            points.min = Number(arr[3] + '.' + arr[4]);
        }
        else if (c.match(DMS)) {
            var arr = DMS.exec(c);

            match = true;
            points.sign = (arr[1] == 'W' || arr[1] == 'S' || arr[1] == '-') ? -1 : 1;
            points.degree = Number(arr[2]);
            points.min = Number(arr[3]);
            points.sec = Number(arr[4] + '.' + arr[5]);
        }

        if (match) {
            return (points.degree + ((points.min * 60 + points.sec) / 3600)) * points.sign;
        }

        return false;
    }

    $('document').ready(function () {
      $(".ajax-submit-btn").click(function(){
        $('#ajax-loading').removeClass("display-none");
        $(".shop-filter-form").submit();
      });


      lat = convert($("#lat").val());
      lng = convert($("#lng").val());
      category= $("#shop_category").val();



      if(lat &&  lng)
        initialize(lat,lng);


      $(".search_btn").click( function ()
      {
        id = $(this).data("id");
        $.ajax ({
          url:  '/dealers/' + id + '/showmodal',
          success: function(data)
          {
            $("#modal-user").html(data);
            $(".person-inform-link").click();
          }
        });
      });
      $('.report-search').ajaxForm({
        success: showResponse
      });
      $('.report-search select').change(function(){
        $(this).parent().submit();
      });
      $('.category-report-search').ajaxForm({
          success: showCatResponse
        });
      $('.category-report-search select').change(function(){
        $(this).parent().submit();
      });
    });

  </script>
<% end -%>