<%- model_class = Shop -%>
<div class="page-header">
  <h1><%= "Search Results..." %> </h1>
   <div class="paginate"> <%= paginate @shops%> </div>
</div>
 
<% @shops.each do |shop| %>
  <div class="searched_result">
    <div class= "shop_avatar">
      <% if shop.avatar.present? %>
          <%= image_tag shop.avatar.avatar.url(:small) %>
      <% else %>
          <%= image_tag "/assets/default.png" %>
      <% end -%>
    </div>
    <div class="shop_detail">
      <h4><b><%= link_to shop.dealer_name, shop_path(shop) %> </b></h4>
      <ul>
        <li><b> Dealer : </b> <%= link_to shop.dealer.try(:name), dealer_path(shop.dealer) if shop.dealer.present? %></li>
        <li><b> Manage : </b> <%= shop.owner.name%></li>
        <li><%= shop.address%> </li>
      </ul> 
    </div>
  </div>
  <hr/ >
<% end %>
<div class="results">
  <% @search.hits.each do |hit| %>
     <%= link_to hit.stored(:dealer_name), shop_path(hit.primary_key) %>
     <% hit.highlights(:dealer_name).each do |highlight| %>          
         <%= highlight.format { |word| "<p class = 'search-word'>*#{word}*</p>" }.html_safe %><br/>
        <% end %>
  <% end %>
</div>
<%= paginate @search.hits %>