 <!-- Search Results Header -->
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-search"></i>Search Results<br><small> for <b><%= params[:search] %></b></small>
    </h1>
  </div>
</div>

  
<div class="block">
   <div class="tab-content">
    <div class="tab-pane active" id="search-tab-projects">
      <div class="block-section clearfix">
        <div class="remove-margin pull-right">  <%= paginate @shops %> </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-vcenter">
          <thead>
            <tr>
              <th style="width: 150px;" class="text-center"><i class="hi hi-picture"></i></th>
              <th>Shop Name </th>
              <th>Dealer </th>
              <th>Manager </th>
              <th style="width: 150px;" class="text-center">Address</th>
            </tr>
          </thead>
          <tbody>
            <% @shops.each do |shop| %>
              <tr>
                <td class="text-center"> 
                  <% if shop.avatar.present? %>
                    <%= image_tag shop.avatar.avatar.url(:small) %>
                  <% else %>
                    <%= image_tag "/assets/default.png" %>
                  <% end -%> 
                </td>
                <td> <%= link_to shop.dealer_name, shop_path(shop) %> </td>
                <td><%= link_to shop.dealer.try(:name), dealer_path(shop.dealer) if shop.dealer.present? %></td>
                <td><%= shop.owner.name%> </td>
                <td><%= shop.address%></td>
              </tr>
            <% end %>      
          </tbody>
        </table>  
      </div>  
      <div class="block-section clearfix">
        <div class="remove-margin pull-right">
          <%= paginate @search.hits %>
        </div>  
      </div>
    </div>
  </div>  
</div> 