<%= form_for @task,:html => { :class => 'form-horizontal form-bordered' } do |f| %>
  
  <div class= "form-group error-box">
    <p><%= errors_for(@task, "").html_safe %></p>
  </div>
  <%= f.hidden_field :assigned_by, :value=> current_user.id  %>
  <div class="form-group">
    <%= f.label :assigned_to,"Assigned to", :class => 'col-md-3 control-label' %>
    <div class="col-md-6 users">
      <%= f.collection_select :assigned_to, User.all,:id,:name, include_blank: false, :class=> "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comment,"Comment", :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
      <%= f.text_field :comment, :class => 'form-control text_area' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shop_id,"Shop", :class => 'col-md-3 control-label' %>
    <div class="col-md-6  tasks">
      <%= f.text_field :shop_name, :class => 'text_field shop-typeahead required form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deadline,"Dead line", :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
      <%= f.text_field :deadline, :readonly => true , :class =>'form-control datepicker required' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status,"Status", :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
      <%= f.select :status, options_for_select(status) , include_blank: false, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group form-actions text-center">
    <%= f.button raw("<i class='fa fa-angle-right'></i> Submit"), :class => 'btn btn-sm btn-success' %>
    <%= link_to raw("<i class='fa fa-angle-left'></i> Back"), tasks_path, :class => 'btn btn-sm btn-primary' %>              
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">

  $('document').ready(function () {
    $('.shop-typeahead').typeahead({                                
      name: 'shops',
      local: '<%= Shop.all.collect{|c| c.dealer_name}.join("*") %>'.split("*"),
      limit: 10
    });
  });
</script>