<%- model_class = Task -%>
<div class="page-header">
  <h1><%= "#{@parent.name} - " if @parent.present? %><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<div id="new-task" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add new task</h3>
  </div>
   <%= form_for @task,:html => { :class => 'form-horizontal form-bordered' } do |f| %>
    <div class="modal-body nopadding">
      <div class="control-group">
        <%= f.hidden_field :assigned_by, :value=> current_user.id  %>
      </div>
      <div class="control-group">
        <%= f.label :assigned_to,"Assigned to", :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :assigned_to, User.all,:id,:name, include_blank: false %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :comment,"Comment", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :comment, :class => 'text_area' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :shop_id,"Shop", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :shop_name, :class => ' selectpicker text_field typeahead required' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :deadline,"Dead line", :class => 'control-label' %>
        <div class="controls">
          <div class="input-append date datepicker" data-date-format="dd-mm-yyyy">
            <%= f.text_field :deadline, :readonly => true , :class =>'required date' %><span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :status,"Status", :class => 'control-label' %>
        <div class="controls">
          <%= f.select :status, options_for_select(status) , include_blank: false %>
        </div>
      </div>

      <div class="form-actions new-task-submit">
        <%= f.submit "create task", :class => 'btn btn-primary' %>
      </div>
    </div>
  <%end%>
</div>

<% if can? :read, Task%>
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered lightgrey taskbox">
        <div class="box-title">
          <h3><i class="icon-ok"></i> Assigned Task</h3>
        </div>
        <div class="box-content scrollable">
          <table class="table table-hover table-nomargin">
            <thead>
              <tr>
                <th>Current Status</th>
                <th>Comment</th>
                <th class='hidden-350'>Shop</th>
                <th class='hidden-1024'>Assinged by</th>
                <th class='hidden-480'>Created at</th>
                <th class='hidden-480'>Deadline</th>
                <%if can? :update, Task%>
                  <th class='hidden-480'>Change Status</th>
                <% end -%>  
              </tr>
            </thead>
            <tbody>
              <% @assigned_tasks.each do |t| %>
                <tr>
                  <td> <%= t.status %></td>
                  <td> <%= t.comment %></td>
                  <td> <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %></td>
                  <td> <%=t.parent %> </td>
                  <td> <%= t.created_at.strftime('%d-%m-%Y')%> </td>
                  <td> <%= t.deadline.strftime('%d-%m-%Y') %>  </td>
                  <% if can? :update, Task%>
                    <td> 
                      <%= form_for @task, :url => change_status_task_path(t) , :html => { :class => 'form-horizontal form-bordered' } do |f| %>
                        <%= f.select :status, options_for_select(status) , include_blank: false %>
                        <%= f.submit "update task", :class => 'btn btn-primary' %>
                      <% end -%>
                    </td>
                  <% end -%>  
                </tr>
              <% end -%>
            </tbody>  
         </table>
        </div>
      </div>
    </div>
  </div>
<% end -%>
<% if can? :create, Task%>
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered lightgrey taskbox">
        <div class="box-title">
          <h3><i class="icon-ok"></i> Created Task</h3>
          <div class="actions">
            <a href="#new-task" data-toggle="modal" class='btn'><i class="icon-plus-sign"></i> Add Task</a>
          </div>
        </div>
        <div class="box-content scrollable">
          <table class="table table-hover table-nomargin">
            <thead>
              <tr>
                <th>Current Status</th>
                <th>Comment</th>
                <th class='hidden-350'>Shop</th>
                <th class='hidden-1024'>Assinged To</th>
                <th class='hidden-480'>Created at</th>
                <th class='hidden-480'>Deadline</th>
                <% if can? :update, Task %>
                  <th class='hidden-480'>Change Status</th>
                <% end -%>  
              </tr>
            </thead>
            <tbody>
              <% @created_tasks.each do |t| %>
                <tr>
                  <td> <%= t.status %></td>
                  <td> <%= t.comment %></td>
                  <td> <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %></td>
                  <td> <%=t.child %> </td>
                  <td> <%= t.created_at.strftime('%d-%m-%Y')%> </td>
                  <td> <%= t.deadline.strftime('%d-%m-%Y') %>  </td>
                  <% if can? :update, Task %>
                    <td> 
                      <%= form_for @task, :url => change_status_task_path(t) , :html => { :class => 'form-horizontal form-bordered' } do |f| %>
                        <%= f.select :status, options_for_select(status) , include_blank: false %>
                        <%= f.submit "update task", :class => 'btn btn-primary' %>
                      <% end -%>
                    </td>
                  <% end -%>
                </tr>
              <% end -%>
            </tbody>  
         </table>
        </div>
      </div>
    </div>
  </div>
<% end -%>
        
<script type="text/javascript" charset="utf-8">
  
  $( document ).ready(function() {
    
    $('.new-task-submit').click(function()
    { 
      $('#new_task').submit();
    });
    
    $('.typeahead').typeahead({                                
        name: 'shops',
        local: '<%= Shop.all.collect{|c| c.dealer_name}.join("*") %>'.split("*"),
        limit: 10                                                                   
    });


  });    
</script>  