<div class="block">
  <div class="block-title">
    <h2><strong>Task</strong></h2>
  </div>
  <div class="block-content">
    <div id="new-task" class="modal task-modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add new task</h3>
          </div>
          <div class="modal-body">
           <%= form_for @task,:html => { :class => 'form-horizontal form-bordered' } do |f| %>
              <%= f.hidden_field :assigned_by, :value=> current_user.id  %>
              <div class="form-group">
                <%= f.label :assigned_to,"Assigned to", :class => 'col-md-3 control-label' %>
                <div class="col-md-6 users">
                  <%= f.collection_select :assigned_to, User.all,:id,:name, include_blank: false, :class=> "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :comment,"Comment", :class => 'col-md-3 control-label' %>
                <div class="col-md-6">
                  <%= f.text_field :comment, :class => 'form-control text_area' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :shop_id,"Shop", :class => 'col-md-3 control-label' %>
                <div class="col-md-6  tasks">
                  <%= f.text_field :shop_name, :class => 'text_field typeahead required form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :deadline,"Dead line", :class => 'col-md-3 control-label' %>
                <div class="col-md-6">
                  <%= f.text_field :deadline, :readonly => true , :class =>'form-control datepicker', 'data-date-format' => "dd-mm-yyyy"%>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :status,"Status", :class => 'col-md-3 control-label' %>
                <div class="col-md-6">
                  <%= f.select :status, options_for_select(status) , include_blank: false, :class => "form-control" %>
                </div>
              </div>

              <div class="form-group form-actions">
                <div class="col-xs-12 text-right">
                  <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>  
      </div>  
    </div>
    <% if can? :create, Task %>
      <div class="row">
        <div class="col-md-12">
          <div class="block block-color block-bordered lightgrey taskbox">
            <div class="block-title">
              <h3><i class="gi gi-ok"></i> Task Responses </h3>
            </div>
            <div class="block-content">
              <div class="table-responsive">
                <table class="table table-hover table-nomargin">
                  <thead>
                    <tr>
                      <th>Task</th>
                      <th>Comment</th>
                      <th class='hidden-350'>Shop</th>
                      <th class='hidden-1024'>Assinged To</th>
                      <th class='hidden-480'>Created at</th>
                      <th class='hidden-480'>Deadline</th>
                      <th class='hidden-480'>Report</th>
                      <th class='hidden-480'>Publish Report</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @complete_assigned_tasks.each do |t| %>
                      <tr>
                        <td> <%= "Task_#{t.id}"  %></td>
                        <td> <%= t.comment %></td>
                        <td> <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %></td>
                        <td> <%=t.child %> </td>
                        <td> <%= t.created_at.strftime('%d-%m-%Y')%> </td>
                        <td> <%= t.deadline.strftime('%d-%m-%Y') %>  </td>
                        <td>
                          <% unless t.post.blank? %>
                            <%= link_to "view Report", "/shops/#{t.shop_id}/svr/#{t.post.id}" %> 
                          <% end -%>
                        </td>
                        <td> 
                          <% unless t.post.blank? %>
                            <% if t.post.published? %>
                              <span> Published </span>
                            <% else %>
                              <%= link_to "Publish Report", publish_report_tasks_path(:post_id => t.post.id), :class => "btn btn-default" %> 
                            <% end %>  
                          <% end -%>
                        </td>
                      </tr>
                    <% end -%>
                  </tbody>  
               </table>
              </div> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if can? :read, Task%>
      <div class="row">
        <div class="col-md-12">
          <div class="block block-color block-bordered lightgrey taskbox">
            <div class="block-title">
              <h3><i class="gi gi-ok"></i> Assigned Task</h3>
            </div>
            <div class="block-content scrollable">
              <div class="table-responsive">
                <table class="table table-hover table-nomargin">
                  <thead>
                    <tr>
                      <th>Current Status</th>
                      <th>Comment</th>
                      <th class='hidden-350'>Shop</th>
                      <th class='hidden-1024'>Assinged by</th>
                      <th class='hidden-480'>Created at</th>
                      <th class='hidden-480'>Deadline</th>
                      <th class='hidden-480'>Create Report</th>
                      <th class='hidden-480'>Change Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% unless @assigned_tasks.blank? %>
                      <% @assigned_tasks.each do |t| %>
                        <tr>
                          <td> <%= t.status %></td>
                          <td> <%= t.comment %></td>
                          <td> <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %></td>
                          <td> <%=t.parent %> </td>
                          <td> <%= t.created_at.strftime('%d-%m-%Y')%> </td>
                          <td> <%= t.deadline.strftime('%d-%m-%Y') %>  </td>
                          <td> 
                            <ul class="nav nav-bar">
                              <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> Generate Repor</a>
                                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                  <% ProductCategory.all.each do |pc| %>
                                    <% if !pc.products.blank? %>
                                      <li class='dropdown-submenu'>
                                        <a href="#" data-toggle="dropdown" class='dropdown-toggle'><%= pc.name%></a>
                                        <ul class="dropdown-menu dropup pull-left">
                                          <% pc.products.each do |product|%>
                                            <li>
                                              <%= link_to product.name, new_shop_svr_path(:shop_id => t.shop_id, :task_id => t.id, :product_category_id => pc.id, :product_id => product.id) %>
                                            </li>
                                          <% end -%>
                                        </ul>
                                      </li>
                                    <%else%>
                                      <li>
                                        <%= link_to pc.name, new_shop_svr_path(:shop_id => t.shop_id, :task_id => t.id, :product_category_id => pc.id) %>
                                      </li>
                                    <%end%>
                                  <% end -%>
                                </ul>
                              </li>
                            </ul>    
                          </td>
                          <td class="update-task-form-td"> 
                            <%= form_for @task, :url => change_status_task_path(t) , :html => { :class => 'form-horizontal task-status-form' } do |f| %>
                              <%= f.select :status, options_for_select(status) , include_blank: false %>
                              <%= f.submit "update task", :class => 'btn btn-primary' %>
                            <% end -%>
                          </td>
                        </tr>
                      <% end -%>
                    <% end %>  
                  </tbody>  
                </table>
              </div>  
            </div>
          </div>
        </div>
      </div>
    <% end -%>
    <% if can? :create, Task%>
      <div class="row">
        <div class="col-md-12">
          <div class="block block-color block-bordered lightgrey taskbox">
            <div class="block-title">
              <h3><i class="gi gi-ok"></i> Created Task</h3>
              <div class="new-button actions pull-right">
                <a href="#new-task" data-toggle="modal" class='btn btn-default new-task-link'><i class="gi gi-new_window_alt"></i> Add Task</a>
              </div>
            </div>
            <div class="block-content">
              <div class="table-responsive">
                <table class="table table-hover table-nomargin">
                  <thead>
                    <tr>
                      <th>Current Status</th>
                      <th>Comment</th>
                      <th class='hidden-350'>Shop</th>
                      <th class='hidden-1024'>Assinged To</th>
                      <th class='hidden-480'>Created at</th>
                      <th class='hidden-480'>Deadline</th>
                      <th class='hidden-480'>Change Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @created_tasks.each do |t| %>
                      <tr>
                        <td> <%= t.status %></td>
                        <td> <%= t.comment %></td>
                        <td> <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %></td>
                        <td> <%=t.child %> </td>
                        <td> <%= t.created_at.strftime('%d-%m-%Y')%> </td>
                        <td> <%= t.deadline.strftime('%d-%m-%Y') %>  </td>
                        <% if can? :update, Task %>
                          <td class="update-task-form-td"> 
                            <%= form_for @task, :url => change_status_task_path(t) , :html => { :class => 'form-horizontal task-status-form' } do |f| %>
                              <%= f.select :status, options_for_select(status) , include_blank: false %>
                              <%= f.submit "update task", :class => 'btn btn-primary' %>
                            <% end -%>
                          </td>
                        <% end -%>
                      </tr>
                    <% end -%>
                  </tbody>  
               </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>  
</div>

<script type="text/javascript" charset="utf-8">
  $('document').ready(function () {
    $('.typeahead').typeahead({                                
      name: 'shops',
      local: '<%= Shop.all.collect{|c| c.dealer_name}.join("*") %>'.split("*"),
      limit: 10
    });
  });
</script>