<%- model_class = Task -%>
<div class="page-header">
  <h1><%= "#{@parent.name} - " if @parent.present? %><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% if can? :create, Task%>  
  <div id="new-task" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add new task</h3>
    </div>
     <%= form_for @task,:html => { :class => 'form-horizontal form-bordered' } do |f| %>
      <div class="modal-body nopadding">
        <div class="control-group">
          <%= f.hidden_field :assigned_by, :value=> current_user.id  %>
        </div>
        <div class="control-group">
          <%= f.label :assigned_to,"Assigned to", :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select :assigned_to, User.all,:id,:name, include_blank: false %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :comment,"Comment", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :comment, :class => 'text_area' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :shop_id,"Shop", :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select :shop_id, Shop.all,:id,:dealer_name, include_blank: false %>
          </div>
        </div>
        <div class="control-group">
          <label for="tasktitel" class="control-label"></label>
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :important, :value=> "yes" %> Mark as important
            </label>
          </div>
        </div>
        <div class="form-actions new-task-submit">
          <%= f.submit "create task", :class => 'btn btn-primary' %>
        </div>
    </div>
  <%end%>
  </div>
<% end -%>  

<%if can? :read, Task%>
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered lightgrey">
        <div class="box-title">
            <h3><i class="icon-ok"></i> Assigned Task</h3>
        </div>
        <div class="box-content nopadding">
          <ul class="tasklist">
            <% @assigned_tasks.each do |t| %>
              <li class="status_check <%= 'done' if t.completed? %> <%= 'bookmarked' if t.important? %>" >
                <div class="check">
                  <input type="checkbox" class='check-me' data-skin="square" data-color="blue" <%= 'checked' if t.completed? %> data-id ="<%= t.id %>" >
                </div>
                <span class="task" data-id ="<%= t.id %>" >
                  <i class="icon-edit"></i>
                  <span>
                    <%=t.comment %>  <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %> 
                    <i class="user_name"> <%= "Assigned_by: " + t.parent %></i>
                  </span> 
                </span>
                <span class="task-actions">
                  <a href="#" class="task-bookmark" rel="tooltip" title="Mark as   important"  data-id = <%= t.id %> remote =true>
                     <i class="icon-bookmark-empty"></i>
                  </a>
                </span>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div> 
  </div>
<%end%>
<% if can? :create, Task%>
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered lightgrey">
        <div class="box-title">
          <h3><i class="icon-ok"></i> Created Task</h3>
          <div class="actions">
            <a href="#new-task" data-toggle="modal" class='btn'><i class="icon-plus-sign"></i> Add Task</a>
          </div>
        </div>
        <div class="box-content nopadding">
          <ul class="tasklist">
            <% @created_tasks.each do |t| %>
              <li class="status_check <%= 'done' if t.completed? %> <%= 'bookmarked' if t.important? %>" >
                <div class="check">
                  <input type="checkbox" class='check-me' data-skin="square" data-color="blue" <%= 'checked' if t.completed? %> data-id ="<%= t.id %>" >
                </div>
                <span class="task" data-id ="<%= t.id %>" >
                  <i class="icon-edit"></i>
                  <span>
                    <%=t.comment %>  <%= link_to Shop.find(t.shop_id).dealer_name, shop_path(t.shop_id) %> 
                    <i class="user_name"> <%= "Assigned_by: " + t.child %></i>
                  </span> 
                </span>
                <span class="task-actions">
                  <a href="#" class="task-bookmark" rel="tooltip" title="Mark as   important"  data-id = <%= t.id %> remote =true>
                     <i class="icon-bookmark-empty"></i>
                  </a>
                </span>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div> 
  </div>
<%end%>
<script type="text/javascript" charset="utf-8">
  
  $( document ).ready(function() {
    $('.new-task-submit').click(function()
    { 
      $('#new_task').submit();
    });

    $('.check-me,.task').click(function()
    {
      task_id = $(this).data("id");
     $.ajax({
        url: '/tasks/' + task_id + '/change',
        success: function(data){
          if(data=="completed")
            $(this).addClass('done');
          else
            $(this).removeClass('done');
        }        
      });
    });

    $('.task-bookmark').click(function()
    {
      task_id = $(this).data("id");
     $.ajax({
        url: '/tasks/' + task_id + '/toggle_important',
        success: function(data){
          if(data)
            $(this).parent().parent().addClass('bookmarked');
          else
            $(this).parent().parent().removeClass('bookmarked');
        }            
      });
    });
  });  
</script>  