
<div class="wrapper">
  <h1><a href="/"><img src="/assets/logo-big.png" alt="" class='retina-ready' width="59" height="49">Orient</a></h1>
  <div class="login-body">
    <h2>Forgot your password?</h2>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="control-group">
        <div class="email controls">
          <%= f.email_field :email, :autofocus => true, :class => "input-block-level" %>
        </div>
      </div>
      <div class="submit">
        <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
      </div>
    <% end -%>
    <div class="forget">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
