<div class="block full map-block-height">
  <div class="block-title no-margin-bottom">
    <h2>
      <i class="fa fa-map-marker"></i>
      Locations Information
    </h2>
    <ul class="nav navbar-nav-custom pull-right" data-toggle="tabs">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-angle-down sidebar-nav-indicator"></i></a>
        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">  
          <li class="active">
            <a href="#" class= 'orient-dealer' data-toggle="tab" data-form ="filter-orient">Orient Dealer / Non-Dealer</a>
          </li>
          <li><a href="#" class='dealer' data-toggle="tab" data-form="filter-dealer" >Categories </a></li>
        </ul>
      </li>  
    </ul>  
  </div>
  <div class="row">
    <div class="col-md-12" id="map_location"></div>
  </div>  
</div>  

<textarea class="hide" id="lat"><%= @shops.collect(&:location).collect(&:latitude).join("|") %></textarea>
<textarea class="hide" id="lng"><%= @shops.collect(&:location).collect(&:longitude).join("|") %></textarea>
<textarea class="hide" id="shop_category"><%= @shops.collect(&:shop_category).collect(&:name).join("|")%></textarea>
<textarea class="hide" id="shop_category_pin"><%= @shops.collect(&:shop_category).collect(&:avatar).collect(&:avatar).collect(&:url).join("|")%></textarea>
<textarea class="hide" id="shop_type"><%= @shops.collect(&:orient_dealer).join("|")%></textarea>
<textarea class="hide" id="shop_id"><%= @shops.collect(&:id).join("|")%></textarea>