<% @notifications.each do |notification|%>
  <div class="alert  alert-info alert-alt my-notification notification" data-notification="<%= notification.id %>">
    <small><%= notification.created_at.strftime("%B, %d")%></small><br>
    <i class="fa fa-arrow-up fa-fw"></i><%= notification.owner.name %>  <%= render_activity notification %>
  </div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){

		$('.pager_notification .pagination').replaceWith("<%= j paginate @notifications, :params => {:host => request.host, :port => request.port, :controller => 'home', :action => 'notifications', :method => :get} %>");

		$(".notification").click(function(){
	    id = $(this).data("notification");
	    count = $(".notification-count").text();
	    $(this).remove();
	    $.ajax ({
	      url:  '/activities/update_activity',
	      data: {id: id },
	      success: function(data)
	      {

	        if(count>0)
	          $(".notification-count").text(count-1);
	      }
	    });
		});
	});
</script>