<%= render :partial => "/layouts/user_header" %>
<% unless current_user.user_employee? %>
  <div class="row">
  	<!-- First Column -->
      <div class="col-md-6 col-lg-7">
   			<% unless @subscriber_activities.blank? %>
  	 			<!-- Newsfeed Block -->
  	 			<div class="block">

  	 				<!-- Newsfeed Title -->
  	        <div class="block-title">
  	          <h2><strong>Subscribers Actiivities</strong></h2>
  	        </div>
  	        <!-- END Newsfeed Title -->

  	        <!-- Newsfeed Content -->
  	        <div class="block-content-full">
              <% unless @subscriber_activities.blank? %>
    	        	<ul class="media-list media-feed media-feed-hover" data-domain = "<%= APP_CONFIG["domain"] %>">
    	        		<% @subscriber_activities .each do |activity| %>
                    <%= render :partial=> "/shared/activity_with_comments", :locals => {:activity => activity, :user => activity.owner } %>
    	        		<% end %>
                   <!-- <div class="subscribe hide">
                    <%#= paginate @subscriber_activities, :params => {:host => request.host, :port => request.port, :controller => 'home', :action => 'subscriber_activities', :method => :get } %>
                  </div> -->
    	        	</ul>
              <% end %>
  	        </div>
  	        <!-- END Newsfeed Content -->
  	 			</div>
  	 			<!-- END feed Block -->
  	 		<% end %>
   		</div>
   		<!-- END First Column -->

   		<!-- Second Column -->
   		<div class="col-md-6 col-lg-5">
   			<!-- Friends Block -->
   			<div class="block">
          <!-- Friends Title -->
          <div class="block-title">
            <div class="block-options pull-right">
              <% if current_user.send_notification? %>
                <%= link_to raw('<i class="fa fa-power-off"></i>'), toggle_email_notifications_home_index_path, :class => "btn btn-sm btn-danger" , "data-toggle" => "tooltip", :title => "", "data-original-title" => "Turn off email subscriptions" %>
              <% else %>
                <%= link_to raw('<i class="fa fa fa-power-off"></i>'), toggle_email_notifications_home_index_path, :class => "btn btn-sm btn-success" , "data-toggle" => "tooltip", :title => "", "data-original-title" => "Turn on email subscriptions" %>
              <% end %>
          </div>
            <h2><strong>Subscribers </strong> <small> <a href="javascript:void(0)">(<%= current_user.subscribers.count %>)</a></small></h2>

          </div>
          <!-- END Friends Title -->

          <!-- Friends Content -->
          <div class="row text-center">
            <% current_user.subscribers.each do |sub| %>
            	<% user = User.find(sub.subscribe_id) %>
              <div class="col-xs-4 col-sm-3 col-lg-2 block-section">
                <a href="<%= activities_path(:user_id => user.id) %>">
                	<% unless user.avatar.blank? %>
                  	<%= image_tag(user.avatar.avatar(:thumb), :class => "img-circle subscribed-image" , "data-toggle" => "tooltip", :title => user.name )%>
                  <% end %>
                </a>
              </div>
            <% end %>
          </div>
        <!-- END Friends Content -->
        </div>
  	    <!-- END Friends Block -->
   		</div>
   		<!-- END Second Column -->
  </div>
<% else %>
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6 col-lg-7">
      <% unless @activities.blank? %>
        <!-- Newsfeed Block -->
        <div class="block">

          <!-- Newsfeed Title -->
          <div class="block-title">
            <h2><strong>Your Activites</strong></h2>
          </div>
          <!-- END Newsfeed Title -->

          <!-- Newsfeed Content -->
          <div class="block-content-full">
            <ul class="media-list media-feed media-feed-hover">
              <% @user_activities.each do |activity| %>
                <%= render :partial=> "/shared/activity_with_comments", :locals => {:activity => activity, :user => activity.owner } %>
              <% end %>

            </ul>
          </div>
          <!-- END Newsfeed Content -->
        </div>
        <!-- END feed Block -->
      <% end %>
    </div>
    <!-- END First Column -->
  </div>
<% end %>