<%= form_for @product_category, :html => { :class => 'form-horizontal form-bordered', :id => "form-validation" } do |f| %>
  <div class= "form-group error-box">
    <p><%= errors_for(@product_category, "").html_safe %></p>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_field :name, :class => 'text_field required' %>
    </div>
  </div>

  <div class="form-group">
    <%= hidden_field_tag "product_category[brand_ids][]", nil %>
    <label class="control-label col-md-3"> Select Brands</label>
    <div class="col-md-9">

      <% Brand.all.each do |brand| %>
        <%= check_box_tag "product_category[brand_ids][]", brand.id, @product_category.brand_ids.include?(brand.id), id: dom_id(brand) %>
        <%= label_tag dom_id(brand), brand.name, :class => 'control-label' %> <br>
      <% end %>
    </div>
  </div>

  <div class="form-group form-actions text-center">
    <%= f.button raw("<i class='fa fa-angle-right'></i> Submit"), :class => 'btn btn-sm btn-primary' %>
    <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>            
  </div>
<% end %>