<div class="block">
  <div class="block-title">
    <h2><strong>Product Category </strong></h2>
    <% if can? :create, ProductCategory %> 
      <div class="new-button pull-right">
        <%= link_to raw("<i class='gi gi-new_window_alt'></i> Add Product Category"), new_product_category_path,  :class => "btn btn-large btn-default" %>
      </div>
    <% end %> 
  </div>

  <dl class="dl-horizontal">
    <dt><strong>Name :</strong></dt>
    <dd><%= @product_category.name %></dd>
  </dl>

  <div class="form-group form-actions text-center btn-group-xs">
    <%= link_to raw("<i class='hi hi-arrow-left'></i>"),product_categories_path,:class => 'btn btn-default text-center ',"data-toggle" => "tooltip", :title=> "Back"  %>
     <%= link_to raw("<i class='fa fa-pencil'></i>"),edit_product_category_path(@product_category), :class => 'btn btn-default', "data-toggle" => "tooltip", :title=> "Edit" %>
                <%= link_to raw("<i class='fa fa-times'></i>"),product_category_path(@product_category),:method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), "data-toggle"=>"tooltip" ,:title=>"Delete" }, :class => 'btn btn-danger' %>
  </div>
</div>