<%= form_for @area, :html => {:class => 'form-horizontal form-bordered', :id => "form-validation" } do |f| %>
  <div class= "form-group error-box">
    <p><%= errors_for(@area, "").html_safe %></p>
  </div>
  <div class="form-group">
    <%= f.label :city_id, :class => 'control-label col-md-2' %>
    <div class="col-md-5">
      <%= f.collection_select :city_id, City.all,:id,:name, {include_blank: true} , {class: "form-control required"}  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, "Area Name", :class => ' col-md-2 control-label' %>
    <div class="col-md-5">
      <%= f.text_field :name, :class => 'text_field form-control required' %>
    </div>
  </div>

  <div class="form-group form-actions text-center">
    <%= f.button raw("<i class='fa fa-angle-right'></i> Submit"), :class => 'btn btn-sm btn-success' %>
    <%= link_to raw("<i class='fa fa-angle-left'></i> Back"), areas_path, :class => 'btn btn-sm btn-primary' %>            
  </div>
<% end %>