<% @uploads.each do |image| %>
  <div class="col-sm-4 gallery-image">
    <% if image.class.to_s == "Upload"%>
      <%= image_tag image.upload.url(:small) %>
      <div class="gallery-image-options text-center">
        <div class="btn-group btn-group-sm">
          <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
        </div>
      </div>
    <% else %>
      <%= image_tag image.avatar.url(:small) %>
      <div class="gallery-image-options text-center">
        <div class="btn-group btn-group-sm">
          <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.upload_images_paginator nav.pagination').html("<%= j paginate @uploads, :params => { :controller => 'dealers', :action => 'load_more_uploads', :method => :get } %>");
  });
</script>