<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="false">×</button>
  <h3 id="user-infos"><%= person.name%></h3>
</div>
<div class="modal-body">
  <div class="row-fluid">
    <div class="span2">
      <%= image_tag(person.avatar.avatar(:thumb) ) %>
    </div>
    <div class="span10">
      <dl class="dl-horizontal" style="margin-top:0;">
        <dt>Full name:</dt>
        <dd><%= person.name%></dd>
        <dt>D.O.B:</dt>
        <dd><%= person.date_of_birth %></dd>
        <dt>Designation:</dt>
        <dd><%= person.designation %></dd>
        <dt>Phone:</dt>
        <dd><%= person.cell_number%></dd>
        <dt>Social:</dt>
        <dd>
          <a href="#" class='btn'><i class="fa fa-facebook"></i></a>
          <a href="#" class='btn'><i class="fa fa-twitter"></i></a>
          <a href="#" class='btn'><i class="fa fa-linkedin"></i></a>
          <a href="#" class='btn'><i class="fa fa-envelope"></i></a>
          <a href="#" class='btn'><i class="fa fa-rss"></i></a>
          <a href="#" class='btn'><i class="fa fa-github"></i></a>
        </dd>
      </dl>
    </div>
  </div>
</div>