<%- model_class = Dealer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="modal-user" class="modal hide">
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= render :partial => "/shared/map" %>
  </div>
  <% if can? :read, Dealer%>
    <div class="span6">
      <div class="box box-color box-bordered">
        <div class="box-title">
        <h3>
          Dealers
        </h3>
        </div>
        <div class="box-content nopadding scrollable">
          <table class="table table-hover table-nomargin" id="shop-data">
            <thead>
              <tr class='thefilter row-fluid'>
                <th class="span9"><input type="text" name="search_dealer" placeholder="Dealer" class="search_init span12" /></th>
                <th class="span3"><span class="span12">&nbsp;</span></th>
              </tr>
              <tr class="row-fluid">
              <th class="span9"><%= model_class.human_attribute_name(:name) %></th>
              <th class="span3"><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
            <% @dealers.each do |dealer| %>
              <% if can? :read, @dealers%>
                <tr class="row-fluid">
                <td class"span9"><%= link_to dealer.name, dealer_path(dealer) %></td>
                <td class"span3">
                  <%= link_to "<i class='icon-search'></i>".html_safe,
                              dealer_path(dealer), :class => 'btn', :rel=> "tooltip", :title =>"View" %>
                  <%= link_to "<i class='icon-edit'></i>".html_safe,
                              edit_dealer_path(dealer), :class => 'btn', :rel=> "tooltip", :title =>"Edit" %>
                  <%= link_to "<i class='icon-remove'></i>".html_safe,
                              dealer_path(dealer),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn', :rel=>"tooltip", :title=>"Delete" %>
                </td>
                </tr>
              <%end -%>  
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end -%>
</div>
<div class="row-fluid">
    <% if can? :read, Report %>
      <div class="span6">
        <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-bar-chart"></i>
            Disaplay Report
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
          <ul class="tabs">
            <li class="active">
              <a href="#brand-display-data" data-toggle="tab">Brand Data</a>
            </li>
            <li class="">
              <a href="#category-display-data" data-toggle="tab">Category Data</a>
            </li>
          </ul>
        </div>
        <div class="box-content nopadding scrollable">
          <div class="tab-content">
            <div class="tab-pane active" id="brand-display-data">
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "display_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "display_data" %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="display_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => @brands, :reports => @reports, :type => "display_data"} %>
              </div>
            </div>
            <div class="tab-pane active" id="category-display-data">
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "display_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "display_data" %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ), {},{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="display_category_data_chart">
                <%= render :partial => "/reports/category_bar", :locals => {:categories => @categories, :reports => @reports, :type => "display_data", :brand => nil} %>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end -%>
    <% if can? :read, Report %>
      <div class="span6">
        <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-bar-chart"></i>
            Sales Report
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
          <ul class="tabs">
            <li class="active">
              <a href="#brand-sales-data" data-toggle="tab">Brand Data</a>
            </li>
            <li class="">
              <a href="#category-sales-data" data-toggle="tab">Category Data</a>
            </li>
          </ul>
        </div>
        <div class="box-content nopadding scrollable">
          <div class="tab-content">
            <div class="tab-pane active" id="brand-sales-data">
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "sales_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "sales_data" %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="sales_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => @brands, :reports => @reports, :type => "sales_data"} %>
              </div>
            </div>
            <div class="tab-pane active" id="category-sales-data">
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "sales_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "sales_data" %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ), {} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="sales_category_data_chart">
                 <%= render :partial => "/reports/category_bar", :locals => {:categories => @categories, :reports => @reports, :type => "sales_data",:brand => nil} %>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end -%>
</div>
<div class="row-fluid">
  <% if can? :read, Report %>
      <div class="span6">
        <div class="box box-color box-bordered">
          <div class="box-title">
            <h3>
              <i class="icon-bar-chart"></i>
              Disaplay Corner
            </h3>
            <div class="actions">
              <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
            </div>
            <ul class="tabs">
              <li class="active">
                <a href="#brand-corner-data" data-toggle="tab">Brand Data</a>
              </li>
              <li class="">
                <a href="#category-corner-data" data-toggle="tab">Category Data</a>
              </li>
            </ul>
          </div>
          <div class="box-content nopadding scrollable">
            <div class="tab-content">
              <div class="tab-pane active" id="brand-corner-data">
                <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "corner_data"}, :method => :post do |f| %>
                  <%= f.hidden_field :type, :value => "corner_data" %>
                  <select name=search[product]>
                    <option value="">All</option>
                    <% ProductCategory.all.each do |pc| %>
                      <% if pc.products.blank? %>
                        <option value="<%= pc.name %>"><%= pc.name %></option>
                      <% else %>
                        <optgroup label="<%= pc.name %>">
                          <% pc.products.each do |product| %>
                            <option value="<%= product.name %>"><%= product.name %></option>
                          <% end -%>
                        </optgroup>
                      <% end -%>
                    <% end -%>
                  </select>
                  <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                  <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                <% end -%>
                <div class="corner_data_chart">
                  <%= render :partial => "/reports/bar", :locals => {:brands => @brands, :reports => @reports, :type => "corner_data"} %>
                </div>  
              </div>
              <div class="tab-pane active" id="category-corner-data">
                <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "corner_data"}, :method => :post do |f| %>
                  <%= f.hidden_field :type, :value => "corner_data" %>
                  <select name=search[brand]>
                    <option value="">All</option>
                    <% Brand.all.each do |pc| %>
                      <option value="<%= pc.id %>"><%= pc.name %></option>
                    <% end -%>
                  </select>
                  <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                  <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                <% end -%>
                <div class="corner_category_data_chart">
                  <%= render :partial => "/reports/category_bar", :locals => {:categories => @categories, :reports => @reports, :type => "corner_data",:brand => nil} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
    <% if can? :read, Upload%>
      <div class="span6">
        <div class="box box-color box-bordered">
          <div class="box-title">
            <h3>
              <i class="icon-picture"></i>
              Images
            </h3>  
            <div class="actions">
              <%= link_to "View All", showgallery_dealers_path(), :class=> "btn btn-primary" %>
              <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
         </div>
          <div class="box-content nopadding scrollable" data-height = "500px" >
          <ul class="gallery">
            <% count = 0%>
            <% @uploads.each do |image| %>
              <% break if count == 9  %>

              <li>
                <% if image.class.to_s == "Upload"%>
                  <a href="#">
                    <%= image_tag image.upload.url(:small) %>
                  </a>
                  <div class="extras">
                    <div class="extras-inner">
                      <a href="<%= image.upload.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                    </div>
                  </div>
                <% else %>
                  <a href="#">
                    <%= image_tag image.avatar.url(:small) %>
                  </a>
                  <div class="extras">
                    <div class="extras-inner">
                      <a href="<%= image.avatar.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                    </div>
                  </div>
                <% end -%>
              </li>
              <% count = count+1 %>
            <% end -%>
          </ul>
          </div>
        </div>
      </div>
    <% end -%>
</div>
<div class = "row-fluid">
  <% if can? :read, Owner, Manager%>
    <div class="span6">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-user">
            People </i>
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
        </div>
        <div class="box-content nopadding scrollable" data-height="500" data- ="true"   >
          <table class="table table-user table-nohead">
            <tbody  remote ="true">
              <% @shops.each do |shop| %>
                <tr>
                  <% unless shop.owner.blank? %>
                    <td class ="img"><img src="/assets/demo/user-1.jpg" alt=""></td>
                    <td class="user"><%= shop.owner.name %></td>
                    <td class='icon search_btn' data-id = <%= shop.id%> data-type = "owner" ><a href="#" class='btn'><i class="icon-search"></i></a></td>
                  <% end -%>
                </tr>    
                <tr>
                  <% unless shop.manager.blank? %>
                    <td class ="img"><img src="/assets/demo/user-2.jpg" alt=""></td>
                    <td class="user"><%= shop.manager.name %></td>
                    <td class='icon search_btn' data-id =  <%= shop.id%> data-type = "manager" ><a href="#" class='btn'><i class="icon-search"></i></a></td>
                  <% end -%>
                </tr>
              <% end -%>  
            </tbody>
          </table>    
        </div>
      </div>
    </div>
  <%end -%>
</div>  

<%= content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    var asInitVals = new Array();
    
    $(document).ready(function() {
      var oTable = $('#shop-data').dataTable();
      
      $(".thefilter input").keyup( function () {
        /* Filter on the column (the index) of this element */
        oTable.fnFilter( this.value, $(".thefilter input").index(this) );
      } );
      
      /*
       * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
       * the footer
       */
      $(".thefilter input").each( function (i) {
        asInitVals[i] = this.value;
      } );
      
      $(".thefilter input").focus( function () {
        if ( this.className == "search_init" )
        {
          this.className = "";
          this.value = "";
        }
      } );
      
      $(".thefilter input").blur( function (i) {
        if ( this.value == "" )
        {
          this.className = "search_init";
          this.value = asInitVals[$(".thefilter input").index(this)];
        }
      } );

      $(".search_btn").click( function ()
        {
          id = $(this).data("id");
          type = $(this).data("type")
            $.ajax ({
            url:  '/dealers/' + id + '/showmodal',
            data: {type: type},
            success: function(data)
            {                              
              $("#modal-user").html(data);
            }
          });
        });
      $('#category-display-data,#category-sales-data,#category-corner-data').removeClass('active');
      $('.report-search').ajaxForm({
        success: showResponse
      });
    $('.report-search select').change(function(){
      $(this).parent().submit();
    });
    $('.category-report-search').ajaxForm({
        success: showCatResponse
      });
    $('.category-report-search select').change(function(){
      $(this).parent().submit();
    });
    $('#category-data').removeClass('active');
    } );
  </script>
<% end -%>
