<div class="content-header content-header-media dealer-head-content">
  <div class="header-section">
    <div class="row">
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
      <h1><strong><%= @parent.name %></strong><br></h1>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="row text-center">
          <div class="col-xs-4 col-sm-3">
            <h2 class="animation-hatch">
              <strong><%= @parent.shops.count %></strong><br>
              <small><i class="fa fa-map-marker"></i> Shops</small>
            </h2>
          </div>
          <div class="col-xs-4 col-sm-3">
            <h2 class="animation-hatch">
              <strong><%= @parent.shops.collect(&:posts).collect(&:published_reports).count %></strong><br>
              <small><i class="fa fa-bar-chart-o"></i> SVRs</small>
            </h2>
          </div>
          <div class="col-sm-3 hidden-xs"></div>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="content-header">
  <div class="row filter-portion">
    <%= form_for :filter, :url => dealer_path(@parent), :method => :get, :remote => true, :html => {:class => "dealer-filter-form"} do |f| %>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> City </label>
          <%= f.collection_select :city_id, City.all,:id,:name, :class => "form-control", :prompt => 'All Cities'%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> Area </label>
          <%= f.collection_select :area_id, Area.all,:id,:name, :class => "form-control", :prompt => 'All Areas' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label"> Shop Category </label>
          <%= f.collection_select :shop_category_id, ShopCategory.all,:id,:name, :prompt => 'All Shop Categoroies', :class => "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group week-picker">
          <label class="control-label">Date Range</label>
          <%= f.text_field :from, :readonly => true, :class => " col-md-5 filter-datepicker from-picker",:placeholder => "From"%><span class="col-md-1 arrow-range"><i class="fa fa-angle-right"></i></span>
            <%= f.text_field :to, :readonly => true, :class => "col-md-5 filter-datepicker to-picker", :placeholder => "To" %>
        </div>
      </div>    
      <div class="col-md-1 apply-btn">
        <%= link_to "Apply", '#', :class=>"btn btn-primary ajax-submit-btn" %>
      </div> 
    <% end %>
    <div id="ajax-loading" class="display-none"><%= image_tag '/assets/ajax_loader_google.gif' %></div>  
  </div>
</div>
<div id="modal-user" class="modal">
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<a href="#modal-user" data-toggle="modal" class="person-inform-link"></a>
<div class="dealer-content">
  <div class="row">
    <div class="col-md-6">
      <%= render :partial => "/shared/map"%>
    </div>
    <% if can? :read, Shop%>
      <div class="col-md-6">
        <div class="block dealers-block-height">
          <div class="block-title ">
            <% if can? :create, Shop %>
              <div class="new-button pull-right">
                <%= link_to raw("<i class='gi gi-new_window_alt'></i> Add Shop"), new_dealer_shop_path(@parent),  :class => "btn btn-large btn-default" %>
              </div>
            <% end %>  
            <h3>
              Shops
            </h3>
          </div>
          <div class="block-content dealers-data-height dearlers-list scroll-dealers-data">
            <table class="table table-hover table-nomargin" id="shop-data">
              <thead>
                <tr class='thefilter row'>
                  <th class="col-md-3"><input type="text" name="search_shop" placeholder="Shop" class="search_init col-md-12" /></th>
                  <th class="col-md-3"><input type="text" name="search_orient_dealer" placeholder="Orient Dealer" class="search_init col-md-12" /></th>
                  <th class="col-md-3"><input type="text" name="search_city" placeholder="City" class="search_init col-md-12" /></th>
                  <th class="col-md-3"><span class="col-md-12">&nbsp;</span></th>
                </tr>
                <tr class="row">
                  <th class="col-md-3"> Dealer Name </th>
                  <th class="col-md-3"> Orient Dealer </th>
                  <th class="col-md-3"> City </th>
                  <th class="col-md-3"> Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @shops.each do |shop| %>
                  <% if can? :read, shop%>
                    <tr class="row">
                    <td class"col-md-3"><%= link_to shop.dealer_name, dealer_shop_path(@parent,shop) %></td>
                    <td class"col-md-3"><%= shop.orient_dealer? ? "Dealer" : "Non dealer" %></td>
                    <td class"col-md-3"><%= shop.location.city.name %></td>
                    <td class"col-md-3">
                      <div class="button-group">
                        <%= link_to "<i class='fa fa-search'></i>".html_safe,
                                    dealer_shop_path(@parent,shop), :class => 'btn btn-sm', :rel=> "tooltip", :title =>"View" %>
                        <%= link_to "<i class='fa fa-edit'></i>".html_safe,
                                    edit_dealer_shop_path(@parent,shop), :class => 'btn btn-sm', :rel=> "tooltip", :title =>"Edit" %>
                        <%= link_to "<i class='hi hi-off'></i>".html_safe,
                                    shop_path(shop),
                                    :method => :delete,
                                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                    :class => 'btn btn-sm', :rel=>"tooltip", :title=>"Delete" %>
                      </div>              
                    </td>
                    </tr>
                  <% end %>  
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end -%> 
  </div>
  <div class="row">
    <% if @posts.present? %>
      <% if can? :read, Report %>
        <div class="col-md-12">
          <div class="block">
            <div class="block-title">
              <h3><strong> Display &amp; Corner  Report</strong></h3>
              <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><a class="brand-tab" href="#brand-display-data">Brands</a></li>
                <li><a class="category-tab" href="#category-display-data">Categories</a></li>
              </ul>
            </div>  
            <div class="block-content">
              <div class="tab-content">
               <div class="tab-pane active" id="brand-display-data">
                  <%= form_for :search,:url => brand_search_svrs_path, :html => {:class => "report-search"}, :method => :post do |f| %>
                    <%= hidden_field_tag "dealer_id", @parent.id %>
                    <selectname="search[product][]" multiple = "true">
                      <option value="">All</option>
                      <% @categories.each do |pc| %>
                        <% if pc.products.blank? %>
                          <option value="<%= pc.name %>"><%= pc.name %></option>
                        <% else %>
                          <optgroup label="<%= pc.name %>">
                            <% pc.products.each do |product| %>
                              <option value="<%= product.name %>"><%= product.name %></option>
                            <% end -%>
                          </optgroup>
                        <% end -%>
                      <% end -%>
                    </select>
                    <%= f.select :year , options_for_select(present_year(@reports) , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                    <%= f.select :week , options_for_select(present_week (@reports)),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                  <% end -%>
                  <div class="brand-chart-data">
                    <%= render :partial => "/svrs/brand_bar", :locals => {:brands => @brands, :reports => @reports} %>
                  </div>  
               </div>
               <div class="tab-pane active" id="category-display-data">
                  <%= form_for :search,:url => category_search_svrs_path, :html => {:class => "category-report-search"}, :method => :post do |f| %>
                    <%= hidden_field_tag "dealer_id", @parent.id %>
                    <select name="search[brand][]" multiple = "true">
                      <option value="">All</option>
                      <% @brands.each do |pc| %>
                        <option value="<%= pc.id %>"><%= pc.name %></option>
                      <% end -%>
                    </select>
                    <%= f.select :year , options_for_select(present_year(@reports) , Date.today.strftime('%Y') ),{} ,{:class => "col-md-3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                    <%= f.select :week , options_for_select(present_week (@reports)),{},{:class => "col-md-6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
                  <% end -%>
                  <div class="category-chart-data">
                    <%= render :partial => "/svrs/category_bar", :locals => {:categories => @categories, :reports => @reports, :brand => nil} %>
                  </div>
               </div> 
              </div>
            </div>  
          </div>  
        </div>
      <% end %>
    <% end %>  
  </div>
  <% if @posts.present? %>
    <div class="row">
      <div class="col-md-6">
        <div class="block dealers-image-block-height">
          <div class="block-title">
            <h2><strong>Display Corner Report</strong></h2>
            <ul class="nav nav-tabs" data-toggle="tabs">
              <li class="active"><a href="#corner_brand">Brands</a></li>
              <li><a href="#corner_category">Categories</a></li>
            </ul>
          </div>  
          <div class="tab-content scroll-dealer-report">
            <div class="tab-pane active" id="corner_brand">
              <div class="gallery" data-toggle="lightbox-gallery">
                <% @corner_brand_report_lines.each do |brand_id,brand_report| %>
                  <div class="row">
                    <% brand_report.each do |line| %>
                      <% line.avatars.each do |upload| %>
                        <div class="col-sm-4 gallery-image">
                          <% if upload.avatar %>
                            <%= image_tag upload.avatar.url %>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url(:medium) %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% else %>
                            <%= image_tag "/assets/default.png"%>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% end%>
                        </div>  
                      <% end %>  
                    <% end %>  
                  </div>  
                <% end %>
              </div>  
            </div>
            <div class="tab-pane" id="corner_category">
              <div class="gallery" data-toggle="lightbox-gallery">
                <% @corner_category_report_lines.each do |category,cat_report| %>
                  <div class="row">
                    <% cat_report.each do |line| %>
                      <% line.avatars.each do |upload| %>
                        <div class="col-sm-4 gallery-image">
                          <% if upload.avatar %>
                            <%= image_tag upload.avatar.url %>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% else %>
                            <%= image_tag "/assets/default.png"%>
                            <div class="gallery-image-options text-center">
                              <div class="btn-group btn-group-sm">
                                <a href="<%= upload.avatar.url %>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                              </div>
                            </div>
                          <% end%>
                        </div>  
                      <% end %>  
                    <% end %>  
                  </div>  
                <% end %>
              </div>
            </div>
          </div>  
        </div>
      </div> 
      <div class="col-md-6">
        <div class="block dealers-image-block-height">
          <div class="block-title">
            <h2>Images</h2>
          </div>
          <div class="gallery scroll-dealer-report" data-toggle="lightbox-gallery">
            <div class="row">
              <% count = 0%>
              <% @uploads.each do |image| %>
                <% break if count == 9  %>
                <div class="col-sm-4 gallery-image">
                  <% if image.class.to_s == "Upload"%>
                    <%= image_tag image.upload.url(:small) %>
                    <div class="gallery-image-options text-center">
                      <div class="btn-group btn-group-sm">
                        <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                      </div>
                    </div>      
                  <% else %>
                    <%= image_tag image.avatar.url(:small) %>
                    <div class="gallery-image-options text-center">
                      <div class="btn-group btn-group-sm">
                        <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                      </div> 
                    </div>  
                  <% end %>
                </div>  
                <% count = count+1 %>
              <% end %>
            </div>  
          </div>
        </div>
      </div>
    </div> 
  <% else %>
    <div class= "row">
      <div class="col-md-6">
        <div class="block dealers-image-block-height">
          <div class="block-title">
            <h2>Images</h2>
          </div>
          <div class="gallery scroll-dealer-report" data-toggle="lightbox-gallery">
            <div class="row">
              <% count = 0%>
              <% @uploads.each do |image| %>
                <% break if count == 9  %>
                <div class="col-sm-4 gallery-image">
                  <% if image.class.to_s == "Upload"%>
                    <%= image_tag image.upload.url(:small) %>
                    <div class="gallery-image-options text-center">
                      <div class="btn-group btn-group-sm">
                        <a href="<%= image.upload.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                      </div>
                    </div>      
                  <% else %>
                    <%= image_tag image.avatar.url(:small) %>
                    <div class="gallery-image-options text-center">
                      <div class="btn-group btn-group-sm">
                        <a href="<%= image.avatar.url(:medium)%>" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                      </div> 
                    </div>  
                  <% end %>
                </div>  
                <% count = count+1 %>
              <% end %>
            </div>  
          </div>
        </div>
      </div>
      <% if can? :read, People %>
        <div class="col-md-6">
          <div class="block dealers-image-block-height ">
            <div class="block-title">
              <h3>
                <i class="icon-user">
                People </i>
              </h3>
            </div>
            <div class="block-content shop-peoples-content scroll-dealer-report" >
              <div class="people">
                <ul class="shop-peoples">
                  <% @peoples.each do |people| %>
                    <li> 
                      <span class="people-image"> <%= image_tag(people.avatar.avatar(:thumb)) %></span>
                      <label class="people-name"><%= people.name %> </label>
                       <span class='icon search_btn' data-id = "<%= people.id %>" ><a href="#" class='btn'><i class="fa fa-search"></i></a></span>
                    </li>
                  <% end%>
                  <div class="hide shop_people_paginator">
                    <%= paginate @peoples, :params => { :controller => 'dealers', :action => 'load_more_peoples', :id => @parent.id, :method => :get } %>
                  </div>
                </ul>
              </div>    
            </div>  
          </div>
        </div>
      <% end -%>
    </div>
  <% end %>  
  <% if @posts.present? %>
    <div class= "row">
      <% if can? :read, People %>
        <div class="col-md-6">
          <div class="block dealers-image-block-height ">
            <div class="block-title">
              <h3>
                <i class="icon-user">
                People </i>
              </h3>
            </div>
            <div class="block-content scroll-dealer-report" >
              <div class="people">
                <ul>
                  <% @peoples.each do |people| %>
                    <li> 
                      <span class="people-image"> <%= image_tag(people.avatar.avatar(:thumb)) %></span>
                      <label class="people-name"><%= people.name %> </label>
                       <span class='icon search_btn' data-id = "<%= people.id %>" ><a href="#" class='btn'><i class="fa fa-search"></i></a></span>
                    </li>
                  <% end%>
                </ul>
            </div>  
            </div>
          </div>
        </div>
      <% end -%>
    </div> 
  <% end %>  
</div>  

<%= content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    var asInitVals = new Array();
    
    $(document).ready(function() {
      var oTable = $('#shop-data').dataTable({
        "bFilter": false,
        "sPaginationType": "full_numbers"
      });


      $(".thefilter input").keyup( function () {
        /* Filter on the column (the index) of this element */
        oTable.fnFilter( this.value, $(".thefilter input").index(this) );
      } );
      
      $(".ajax-submit-btn").click(function(){
        $('#ajax-loading').removeClass("display-none");
        $(".dealer-filter-form").submit();
      });
      
      /*
       * Support functions to provide a little bit of 'user friendlyness' to the textblockes in 
       * the footer
       */
      $(".thefilter input").each( function (i) {
        asInitVals[i] = this.value;
      } );
      
      $(".thefilter input").focus( function () {
        if ( this.className == "search_init" )
        {
          this.className = "";
          this.value = "";
        }
      } );
      
      $(".thefilter input").blur( function (i) {
        if ( this.value == "" )
        {
          this.className = "search_init";
          this.value = asInitVals[$(".thefilter input").index(this)];
        }
      } );
     
      $(".search_btn").click( function ()
      {
        id = $(this).data("id");
        $.ajax ({
          url:  '/dealers/' + id + '/showmodal',
          success: function(data)
          {                              
            $("#modal-user").html(data);
            $(".person-inform-link").click();
          }
        });
      });  

      $('.report-search').ajaxForm({
        success: showResponse
      });
      $('.report-search select').change(function(){
        $(this).parent().submit();
      });
      $('.category-report-search').ajaxForm({
          success: showCatResponse
        });
      $('.category-report-search select').change(function(){
        $(this).parent().submit();
      });
    });
  </script>
<% end -%>

