<%= form_for @role, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :action, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :action,Role.actions.collect { |k,v| [v,k] }, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :entity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :entity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                roles_path, :class => 'btn' %>
  </div>
<% end %>
