<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>

<p>
  <b>Symbol:</b>
  <%= @role.symbol %>
</p>

<p>
  <b>Notes:</b>
  <%= @role.notes %>
</p>

<p>
  <b>Action:</b>
  <%= @role.action %>
</p>

<p>
  <b>Entity:</b>
  <%= @role.entity %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
