<%= form_for @shop_category, :html => { :class => 'form-horizontal form-bordered', :id => "form-validation", :multipart => true } do |f| %>
  <div class= "form-group error-box">
    <p><%= errors_for(@shop_category, "").html_safe %></p>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'col-md-3 control-label'%>
    <div class="col-md-9">
      <%= f.text_field :name, :class => 'text_field required' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.fields_for :avatar do |f| %>
      <div class= "control-group">
        <%= f.label "Marker Pin", :id => :avatar, :class => 'col-md-3  control-label'%>
        <div class="col-md-9">
          <%= f.file_field :avatar ,:class => 'avatar_field required' %>
        </div>
      </div>
    <% end -%> 
  </div>  
  <div class="form-group form-actions text-center">
    <%= f.button raw("<i class='fa fa-angle-right'></i> Submit"), :class => 'btn btn-sm btn-primary' %>
    <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>            
  </div>
<% end %>
