<div class="block">
  <div class="block-title">
    <h2><strong>Shop Category </strong></h2>
    <% if can? :create, ShopCategory %> 
      <div class="new-button pull-right">
        <%= link_to raw("<i class='gi gi-new_window_alt'></i> Add Shop Category"), new_shop_category_path,  :class => "btn btn-large btn-default" %>
      </div>
    <% end %>
  </div>
 
  <div class="table-responsive">
    <table class="table table-striped table-vcenter">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @shop_categories.each do |shop_category| %>
          <tr>
            <td>
              <%= link_to shop_category.name, shop_category_path(shop_category) %>
            </td>
            <td class="text-center">
              <div class="btn-group btn-group-xs">
                <%= link_to raw("<i class='fa fa-pencil'></i>"),edit_shop_category_path(shop_category), :class => 'btn btn-default', "data-toggle" => "tooltip", :title=> "Edit" %>
                <%= link_to raw("<i class='fa fa-times'></i>"),shop_category_path(shop_category),:method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), "data-toggle"=>"tooltip" ,:title=>"Delete" }, :class => 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>  
  </div> 
  <div class="block-section clearfix">
    <div class="remove-margin pull-right">
      <%= paginate @shop_categories %>
    </div>  
  </div>
</div>            
