<% if can? :read, Upload%>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="page-header">
        <div class="">
          <h1>Gallery</h1>
        </div>
      </div>
    </div>
    <div class="span12">
      <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
              <i class="icon-picture"></i>
              Images
            </h3>
          </div>
          <div class="box-content nopadding scrollable" data-height= "500px">
            <div class="highlight-toolbar">
              <div class="pull-right">
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <%= form_for [@uploadable, Upload.new], :html => { :multipart => true, :id => "fileupload", :class => "form-validate" } do |f| %>
                      <%=f.file_field :upload , :class => "required"%>
                      <button type="submit" class="btn btn-danger" rel="tooltip" title="Upload new image" ><i class="icon-cloud-upload"></i> Upload image</button>
                    <% end -%>
                  </div>
                </div>
              </div>
            </div>
            <ul class="gallery">
              <% @uploads.each do |image| %>
                <li>
                  <% if image.class.to_s == "Upload"%>
                    <a href="#">
                      <%= image_tag image.upload.url(:small) %>
                    </a>
                    <div class="extras">
                      <div class="extras-inner">
                        <a href="<%= image.upload.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                      </div>
                    </div>
                  <% else %>
                    <a href="#">
                      <%= image_tag image.avatar.url(:small) %>
                    </a>
                    <div class="extras">
                      <div class="extras-inner">
                        <a href="<%= image.avatar.url(:medium) %>" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                      </div>
                    </div>
                  <% end -%>
                </li>
              <% end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%end -%>
