<div class="block">
  <div class="block-title">
    <h2><strong>Upload </strong></h2>
  </div>
  <div class="block-content upload-image bottom-margin">
    <div class="row">
      <div class="col-md-12 text-center bottom-margin">
        <%= image_tag(@upload.upload(:medium)) %>
      </div>
    </div>
    <div class="comment-portion">
      <% unless @comments.blank? %>
        <% @comments.each do |comment| %>
          <div class="row">
            <div class="col-md-2 comment-user-image">
              <%= image_tag comment.user.get_avatar.avatar(:small_thumb) %>
            </div>
            <div class="col-md-10 comment">
              <label><h4><%= comment.user.name %></h4></label>
              <p><%= text_field_tag :comment, comment.comment, :class => "form-control", :readOnly => true  %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="new-comment-portion">
      <div class="row">
        <div class="col-md-2 comment-user-image">
          <%= image_tag current_user.get_avatar.avatar(:small_thumb) %>
        </div>
        <div class="col-md-10">
          <%= form_for(:comment, :url => create_comment_upload_path(@upload), :html => {:class => "comment-form", :remote => true}) do |f|  %>
              <%= f.text_field :comment, :class => "form-control new-comment-field" %>
          <%  end -%>
      </div>
    </div>
  </div>
</div>