<div class="modal fade" id="subscriber_modal" class="subscriber-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  	<div class="modal-content">
  		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="myModalLabel">Select Activities </h4>
      </div>
      <div class="model-body">
				<%= form_for("subscriber", :url => create_subscriber_activities_path, :html => { :class => 'form-horizontal subscriber-form' }) do |f| %>
			  	<%= f.hidden_field :subscribe_id, :value => subscribe_id %>
			  	<%= f.hidden_field :user_id, :value => user_id%>
			  	<div class="check-all-option  pull-right col-md-3"><label class="select-all-label"><%= check_box_tag "check_all", nil %> select all</label></div>
					
					<div class="select-activity">
						<div class= "activity-type ">
							Shop Visit Reports
						</div>		
						<div class="activity-name">
							<label><%= check_box_tag "subscriber[activity_settings_attributes][0][activity_name]" , "post.create" %> New </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][1][activity_name]" , "post.update" %> Edit </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][2][activity_name]" , "post.destroy" %> Delete </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][3][activity_name]" , "post.publish" %> Publish</label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][4][activity_name]" , "post.unpublish" %> Un Publish</label>
						</div>
					</div>
					<div class="select-activity">
						<div class= "activity-type ">
							Task
						</div>		
						<div class="activity-name">
							<label><%= check_box_tag "subscriber[activity_settings_attributes][5][activity_name]" , "task.create" %> New </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][6][activity_name]" , "task.update" %> Edit </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][7][activity_name]" , "task.destroy" %> Delete </label>
						</div>
					</div>
					<div class="select-activity">
						<div class= "activity-type ">
							User
						</div>		
						<div class="activity-name">
							<label><%= check_box_tag "subscriber[activity_settings_attributes][8][activity_name]" , "user.create" %> New </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][9][activity_name]" , "user.update" %> Edit </label>
							<label><%= check_box_tag "subscriber[activity_settings_attributes][10][activity_name]" , "user.destroy" %> Delete </label>
						</div>
					</div>
				  <div class="select-activity">
							<div class= "activity-type ">
								Shop
							</div>		
							<div class="activity-name">
								<label><%= check_box_tag "subscriber[activity_settings_attributes][11][activity_name]" , "shop.create" %> New </label>
								<label><%= check_box_tag "subscriber[activity_settings_attributes][12][activity_name]" , "shop.update" %> Edit </label>
								<label><%= check_box_tag "subscriber[activity_settings_attributes][13][activity_name]" , "shop.destroy" %> Delete </label>
							</div>
					</div>
					<div class="modal-footer form-actions">
            <div class="col-xs-12 text-center">
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
            </div>
          </div>
				<% end %>
			</div>	
		</div>
	</div>		
</div>