<%= render :partial => "/layouts/user_header", :locals => {:user => @user} %> 
 <!-- User Profile Content -->
 	<div class="row">
 		<!-- First Column -->
    <div class="col-md-6 col-lg-7">
 			<% unless @user_activities.blank? %>
	 			<!-- Newsfeed Block -->
	 			<div class="block">

	 				<!-- Newsfeed Title -->
	        <div class="block-title">
	          <h2><strong>Newsfeed</strong></h2>
	        </div>
	        <!-- END Newsfeed Title -->	

	        <!-- Newsfeed Content -->
	        <div class="block-content-full">
	        	<ul class="media-list media-feed media-feed-hover user-activities  user-activities-scroll">
	        		<% @user_activities.each do |activity| %>
	        			<li class="media user-activity">
                  <% user = User.find(activity.owner.id) %>    
                  <%=link_to raw(image_tag(user.avatar.avatar(:thumb), :class => "img-circle user-image-small")), activities_path(:user_id => user.id),:class => "pull-left user-link-small" %>
                  <div class="media-body">
                    <p class="push-bit">
                      <span class="text-muted pull-right">
                        <small><%= activity.created_at.strftime("%B, %d")%></small>
                        <span class="text-danger" data-toggle="tooltip" title="From Web"><i class="fa fa-globe"></i></span>
                      </span>
                      <strong><%=link_to activity.owner.name, activities_path(:user_id => user.id) if activity.owner %> <%= render_activity activity %> </strong>
                    </p>
                  </div>    
                </li> 
	        		<% end %>
              <div class="activities hide">
                <%= paginate @user_activities, :params => { :controller => 'home', :action => 'activities', :method => :get } %>
              </div>
	        	</ul>	
	        </div>	
	        <!-- END Newsfeed Content -->
	 			</div>
	 			<!-- END feed Block -->
	 		<% end %>	
 		</div>	
 		<!-- END First Column -->

 		<!-- Second Column -->
 		<div class="col-md-6 col-lg-5">
      
      <!-- Info Block -->
      <div class="block">
      	<!-- Info Title -->
        <div class="block-title">
          <% unless current_user.user_employee? %>
            <div class="block-options pull-right">
            	<% unless current_user == @user %>
            		<% unless current_user.already_subscribe?(@user) %>
              		<a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="modal" data-target = "#subscriber_modal" title="Subscribe"><i class="fa fa-plus"></i></a>
              	<% else %>	
              		<a href="<%= destroy_subscriber_activity_path(:id => @user.id) %>" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Un-Subscribe"><i class="fa fa-plus"></i></a>
              	<% end %>
              <% end %>	
            </div>
          <% end %>  
          <h2>About <strong><%= @user.name %></strong></h2>
        </div>
        <!-- END Info Title -->

        <!-- Info Content -->
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td style="width: 20%;"><strong>Info</strong></td>
              <td>Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non.</td>
            </tr>
            <tr>
              <td><strong><%= @user.user_type.try(:name) %></strong></td>
              <td><a href="javascript:void(0)">Orient</a></td>
            </tr>
            <tr>
              <td><strong>Email Address</strong></td>
              <td><a href="javascript:void(0)"><%= @user.email %></a></td>
            </tr>
            <tr>
              <td><strong>Phone No</strong></td>
              <td><a href="javascript:void(0)"><%= @user.phone_number %></a></td>
            </tr>
            <tr>
              <td><strong>Joined at</strong></td>
              <td><a href="javascript:void(0)"><%= @user.created_at.strftime("%Y-%m-%d") %></a></td>
            </tr>
          </tbody>
      	</table>
      	<!-- END Info Content -->
      </div>
      <!-- END Info Block -->	
      <% unless @subscribers.blank? %>
	      <!-- Friends Block -->
	      <div class="block">
	          <!-- Friends Title -->
	          <div class="block-title">
	              <h2><strong>Subscribed </strong> <small> <a href="javascript:void(0)">(<%= @subscribers.count %>)</a></small></h2>
	          </div>
	          <!-- END Friends Title -->

	          <!-- Friends Content -->
	          <div class="row text-center">
	            <% @subscribers.each do |sub| %>
	            	<% user = User.find(sub.subscribe_id) %>
		            <div class="col-xs-4 col-sm-3 col-lg-2 block-section">
		              <a href="<%= activities_path(:user_id => user.id) %>">
		              	<% unless user.avatar.blank? %>
		                	<%= image_tag(user.avatar.avatar(:thumb), :class => "img-circle" , "data-toggle" => "tooltip", :title => user.name, :size => "65x70" )%>
		                <% end %>	
		              </a>
		            </div>
		          <% end %>  
	          </div>
	          <!-- END Friends Content -->
	      </div>
	      <!-- END Friends Block -->
	    <% end %>  
    </div>  
 		<!-- END Second Column -->
 	</div>	
 <!-- END User Profile Content -->
<% unless current_user == @user and current_user.user_employee? %>
	<% unless current_user.already_subscribe?(@user) %>
		<%= render :partial => 'subscriber', :locals => {user_id: current_user.id, subscribe_id: @user.id} %>
	<% end %>	
<% end -%>