<div class="row-fluid time-line-container">
	<div class="user-image-cover span4">
		<%= image_tag(@user.avatar.avatar(:small)) %>
	</div>	
	<div class="about-user span4">
		<h5 class="heading">About </h5>
		<div class="span11">
			<span>Full Name:  <%= @user.name %> </span> <br>
			<span>Designation:  <%= @user.user_type.name %> </span> <br>
			<span>Email Address:  <%= @user.email %> </span> <br>
			<span>Phone No:  <%= @user.phone_number %> </span> <br>
			<span>Joined at:  <%= @user.created_at.strftime("%Y-%m-%d") %> </span> <br >
		</div>	
	</div>
	<% unless current_user == @user %>
		<div class="span4"> 
			<h5 class="heading">Subscribe to <%= @user.name %>  </h5>

			<div class="text-center">
				<% unless current_user.already_subscribe?(@user) %>
					<%= link_to "Click here to subscribe", 'javascript:void(0);', "data-toggle" => "modal", "data-target"=> "#subscriber_modal", :class => 'subscribe-btn btn' %>
				<% else %>
					<%= link_to "Click here to un-subscribe", destroy_subscriber_activity_path(:id => @user.id) ,:class => 'subscribe-btn btn' %>
				<% end %>	
			</div>
		</div>	
	<% end %>
</div>
<div class="row-fluid">
	<div class="user-activities span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="fa fa-bars"></i>
					<%= @user.name %> Activities
				</h3>
			</div>
			<div class="box-content nopadding scrollable" style="height: 380px;">
				<% unless @activities.blank? %>

					<div class="activities-list">
						<ul class="timeline">
							<% @activities.each do |activity| %>
							  <li> 
							  	<div class="timeline-content">
							  		<div class="left">
											<div class="icon">
												<i class="fa fa-picture-o"> <%= image_tag(@user.avatar.avatar(:small)) %> </i>
											</div>
											<div class="date"><%= activity.created_at.strftime("%B, %d")%></div>
										</div>
										<div class="activity">
											<div class="user">
									    	<%=link_to activity.owner.name, activities_path(:user_id => activity.owner.id) if activity.owner %>
										  	<%= render_activity activity %>
										  </div>	
										</div>  
									</div>  
									<div class="line"></div>
								</li>  
							<% end %>	
						</ul>
					</div>	
				<% else %>	
					<h5 class="heading">Activities </h5>
					<div> No activities </div>
				<% end %>
			</div>	
		</div>	
	</div>
</div>
<% unless current_user == @user %>
	<% unless current_user.already_subscribe?(@user) %>
		<%= render :partial => 'subscriber', :locals => {user_id: current_user.id, subscribe_id: @user.id} %>
	<% end %>	
<% end -%>	
