<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :info, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= hidden_field_tag "product[brand_ids][]", nil %>
    <div class="controls">
      <% Brand.all.each do |brand| %>
        <%= check_box_tag "product[brand_ids][]", brand.id, @product.brand_ids.include?(brand.id), id: dom_id(brand), :class => 'pull-left' %>
        <%= label_tag dom_id(brand), brand.name %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
