<div class="block">
  <div class="block-title">
    <h2><strong>Product </strong></h2>
   <% if can? :create, Product %> 
      <div class="new-button pull-right">
        <%= link_to raw("<i class='gi gi-new_window_alt'></i> Add Product"), new_product_path,  :class => "btn btn-large btn-default" %>
      </div>
    <% end %> 
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-vcenter">
      <thead>
        <tr>
          <th>Name</th>
          <th>Info</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= product.info %></td>
            <td class="text-center">
              <div class="btn-group btn-group-xs">
                <%= link_to raw("<i class='fa fa-pencil'></i>"),edit_product_path(product), :class => 'btn btn-default', "data-toggle" => "tooltip", :title=> "Edit" %>
                <%= link_to raw("<i class='fa fa-times'></i>"),product_path(product),:method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), "data-toggle"=>"tooltip" ,:title=>"Delete" }, :class => 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="block-section clearfix">
    <div class="remove-margin pull-right">
      <%= paginate @products %>
    </div>  
  </div>
</div>  