<% if type=='display_data'  %>
<div id="category_display_data">
  <textarea class="hide display_data">
    <% categories.each do |category| %>
      <%= [category.name,Report.category_display(reports,category.id)].join("|") %>
      <%= "~" unless category == categories.last %>
    <% end -%>
  </textarea>
  <div class="row">
    <div class="span12 jchartfx" style="height: 400px; display: inline-block;" data-unit="display_data">
    </div>
  </div>
</div>
<% end -%>
<% if type=='sales_data'  %>
<div id="category_sales_data">
  <textarea class="hide sales_data">
    <% categories.each do |category| %>
      <%= [category.name,Report.category_sales(reports,category.id)].join("|") %>
      <%= "~" unless category == categories.last %>
    <% end -%>
  </textarea>
  <div class="row">
    <div class="span12 jchartfx" style="height: 400px; display: inline-block;" data-unit="sales_data">
    </div>
  </div>
</div>
<% end -%>
<% if type=='corner_data'  %>
<div id="category_corner_data">
  <textarea class="hide corner_data">
    <% categories.each do |category| %>
      <%= [category.name,Report.category_corner(reports,category.id)].join("|") %>
      <%= "~" unless category == categories.last %>
    <% end -%>
  </textarea>
  <div class="row">
    <div class="span12 jchartfx" style="height: 400px; display: inline-block;" data-unit="corner_data">
    </div>
  </div>
</div>
<% end -%>
<script type="text/javascript">
  $('document').ready(function(){
    onLoadDoc($("#category_<%= type %> .jchartfx"),"<%= type %>","Category");  
  });
</script>