<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-bar-chart"></i>
            Reports
          </h3>
          <div class="actions">
            <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
          </div>
          <ul class="tabs">
            <li class="active">
              <a href="#brand-data" data-toggle="tab">Brand Data</a>
            </li>
            <li class="">
              <a href="#category-data" data-toggle="tab">Category Data</a>
            </li>
          </ul>
        </div>
        <div class="box-content">
          <div class="tab-content">
            <div class="tab-pane active" id="brand-data">
              <h4><i class="icon-inbox"></i> Display Report</h4>
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "display_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "display_data" %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                   
                  <% end -%>
                </select>
                 <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="display_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => @brands, :reports => @reports, :type => "display_data"} %>
              </div>
              <hr>
              <div class="clearfix"></div>
              <h4><i class="icon-share-alt"></i> Sales Report</h4>
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "sales_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "sales_data" %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                   
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ) ,{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="sales_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => @brands, :reports => @reports, :type => "sales_data"} %>
              </div>
              <hr>
              <div class="clearfix"></div>
              <h4><i class="icon-tag"></i> Display Corner</h4>
              <%= form_for :search,:url => brand_search_reports_path, :html => {:class => "report-search", "data-unit"=> "corner_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "corner_data" %>
                <select name=search[product]>
                  <option value="">All</option>
                  <% ProductCategory.all.each do |pc| %>
                    <% if pc.products.blank? %>
                      <option value="<%= pc.name %>"><%= pc.name %></option>
                    <% else %>
                      <optgroup label="<%= pc.name %>">
                        <% pc.products.each do |product| %>
                          <option value="<%= product.name %>"><%= product.name %></option>
                        <% end -%>
                      </optgroup>
                    <% end -%>
                   
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="corner_data_chart">
                <%= render :partial => "/reports/bar", :locals => {:brands => @brands, :reports => @reports, :type => "corner_data"} %>
              </div>
            </div>
            <div class="tab-pane active" id="category-data">
              <h4><i class="icon-inbox"></i> Display Report</h4>
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "display_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "display_data" %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="display_category_data_chart">
                <%= render :partial => "/reports/category_bar", :locals => {:categories => @categories, :reports => @reports, :type => "display_data"} %>
              </div>
              <hr>
              <div class="clearfix"></div>
              <h4><i class="icon-share-alt"></i> Sales Report</h4>
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "sales_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "sales_data" %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ) ,{},{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="sales_category_data_chart">
                <%= render :partial => "/reports/category_bar", :locals => {:categories => @categories, :reports => @reports, :type => "sales_data"} %>
              </div>
              <hr>
              <div class="clearfix"></div>
              <h4><i class="icon-tag"></i> Display Corner</h4>
              <%= form_for :search,:url => category_search_reports_path, :html => {:class => "category-report-search", "data-unit"=> "corner_data"}, :method => :post do |f| %>
                <%= f.hidden_field :type, :value => "corner_data" %>
                <select name=search[brand]>
                  <option value="">All</option>
                  <% Brand.all.each do |pc| %>
                    <option value="<%= pc.id %>"><%= pc.name %></option>
                  <% end -%>
                </select>
                <%= f.select :year , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') ),{} ,{:class => "span3", :multiple => true, "data-selected-text-format"=>"count>5"} %>
                <%= f.select :week , options_for_select(year_weeks),{},{:class => "span6" , :multiple => :true, "data-selected-text-format"=>"count>5"} %>
              <% end -%>
              <div class="corner_category_data_chart">
                <%= render :partial => "/reports/category_bar", :locals => {:categories => @categories, :reports => @reports, :type => "corner_data"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('document').ready(function(){
    $('.report-search').ajaxForm({
        success: showResponse
      });
    $('.report-search select').change(function(){
      $(this).parent().submit();
    });
    $('.category-report-search').ajaxForm({
        success: showCatResponse
      });
    $('.category-report-search select').change(function(){
      $(this).parent().submit();
    });
    $('#category-data').removeClass('active');
  });

</script>
