<div class="container-fluid">
  <div class="page-header">
    <div class="pull-left">
      <h1>New report </h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-magic"></i>
            Add Report
          </h3>
        </div>
        <div class="box-content scrollable">
          <%= form_for @post , :url => shop_reports_path(@shop) , :html => { :class => 'form-horizontal form-validate', :multipart => true } do |f| %>
            <%= f.hidden_field :shop_id %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :product_category_id %>
            <%= f.hidden_field :dealer_id %>
            <%= f.hidden_field :task_id %>
            <div class='row-fluid'>
              <div class= "span6" >
                <%= f.label :year ,"Year", :class => 'control-label' %>  
                <%= f.select :year , options_for_select((2000..2020).to_a , Date.today.strftime('%Y')) , :value => Date.today.strftime('%Y') %>
              </div>
              <div class ="span6">
                <%= f.label :week ,"Week number", :class => 'control-label' %> 
                <%= f.select :week , options_for_select(year_weeks, Date.today.cweek), :value => Date.today.cweek  %>
              </div>
            </div>
            <%= f.fields_for :reports do |report| %>
              <% if report.object.report_type == 'display' or report.object.report_type == 'sales' %>
                <% type=report.object.report_type %>
                <div class="step">
                  <div class="single-step">
                    <span class="circle">
                      <span class="active"></span>
                    </span>
                    <span class="description">
                      <h3> <%= report.object.report_type.capitalize %> Information </h3> <hr />
                    </span>
                  </div>
                </div>
                <div class="step-forms ">
                  <%= report.hidden_field :report_type %>
                  <%= report.hidden_field :shop_id %>
                  <%= report.hidden_field :user_id %>
                  <div class="step-forms ">
                    <%= report.fields_for :report_lines do |report_line| %>
                      <div class="control-group">
                        <% brand= Brand.find report_line.object.brand_id %>
                        <%= report_line.hidden_field :product_category_id %>
                        <%= report_line.hidden_field :product_id %>
                        <%= report_line.hidden_field :brand_id %>
                        <%= report_line.label :data,"#{brand.name} #{type}", :class => 'control-label' %>
                        <%= report_line.text_field :data, :class => "input-xlarge required number" %>
                      </div>
                    <% end -%>
                  </div>
                </div>
              <% else %>
                <% type=report.object.report_type %>
                <div class="step">
                  <div class="single-step">
                    <span class="circle">
                      <span class="active"></span>
                    </span>
                    <span class="description">
                      <h3> <%= report.object.report_type.capitalize %> Information </h3> <hr />
                    </span>
                  </div>
                </div>
                <div class="step-forms ">
                  <%= report.hidden_field :report_type %>
                  <%= report.hidden_field :shop_id %>
                  <%= report.hidden_field :user_id %>
                  <div class="step-forms ">
                    <%  index = 0 %>
                    <%= report.fields_for :report_lines do |report_line| %>
                      
                      <% brand= Brand.find report_line.object.brand_id %>
                      <%= report_line.hidden_field :product_category_id %>
                      <%= report_line.hidden_field :product_id %>
                      <%= report_line.hidden_field :brand_id %>
                      <div class="control-group">
                        <%= report_line.label :data,"#{brand.name.capitalize} #{type.capitalize}", :class => 'control-label' %>
                        <div class="controls">
                          <div class = "radio-controls required" remote ="true"  >
                            <label class="radio" data-index= "<%= index %>">
                              <%= report_line.radio_button :data, "1" %>Yes
                            </label>
                            <label class="radio" data-index= "<%= index %>" >
                              <%= report_line.radio_button :data, "0" , :checked => "checked" %>No
                            </label>
                            <div class="parent-avatar-field">
                              <div class="avatar-fields">
                              </div>
                              <%= link_to "Add More", "#", :remote => :true , :class => "hide add_more_link", :data => {:index => index } %>
                            </div>  
                          </div>  
                        </div>
                      </div>
                      <% index = index +  1 %>
                    <% end -%>
                  </div>
                </div>
              <% end -%>
            <% end -%>
            <div class="form-actions">
              <input type="reset" class="btn" value="Back" id="back">
              <input type="submit" class="btn btn-primary" value="Submit" id="next">
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
