<div class="container-fluid">
  <div class="page-header">
    <div class="pull-left">
      <h1><%= @product.name %></h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-magic"></i>
            Add Report
          </h3>
        </div>
        <div class="box-content">
          <%= form_for [@shop,@report], :html => { :class => 'form-horizontal' } do |f| %>
            <div class = "row-fluid">
              <div class= "span6" >              
               <%= label_tag "year","Year", :class => 'control-label' %>  
                <%= select_tag "year" , options_for_select( (2000..2020).to_a , Date.today.strftime('%Y') )%>  
              </div>
              <div class ="span6">
                <%= label_tag "week","Week number", :class => 'control-label' %>
                <%= select_tag "week" , options_for_select(year_weeks)%>
              </div> 
            </div>  

            <div class="step" id="firstStep">
                <div class="single-step">
                  <span class="circle">
                  <span class="active"></span>
                  </span>
                  <span class="description">
                     <h3> Display Information </h3> <hr />
                  </span>
                </div>
              <div class="step-forms ">

                <%= hidden_field_tag "report[d_report][report_type]",'', :value => "display" %>
                <% @product.brands.each_with_index do |brand,index| %>
                  <%= hidden_field_tag "report[d_report][report_lines_attributes][#{index}][brand_id]","", :value => brand.id %>
                  <%= hidden_field_tag "report[d_report][report_lines_attributes][#{index}][#{(@product.class.to_s.underscore + '_id')}]","", :value => @product.id %>
                  <div class="control-group">
                    <%= label_tag "report[d_report][report_lines_attributes][#{index}][data]","#{brand.name} display", :class => 'control-label' %>
                    <div class="controls">
                      <%= text_field_tag "report[d_report][report_lines_attributes][#{index}][data]","", :class => 'input-xlarge', "data-rule-required"=>"true" %>
                    </div>
                  </div>
                <% end -%>

                <div class="single-step">
                  <span class="circle">
                  <span class="active"></span>
                  </span>
                  <span class="description">
                     <h3> Sales Information </h3> <hr />
                  </span>
                  </span>
                </div>
                <%= hidden_field_tag "report[s_report][report_type]",'', :value => "sales" %>

                <% @product.brands.each_with_index do |brand,index| %>
                  <%= hidden_field_tag "report[s_report][report_lines_attributes][#{index}][brand_id]","", :value => brand.id %>
                  <%= hidden_field_tag "report[s_report][report_lines_attributes][#{index}][#{(@product.class.to_s.underscore + '_id')}]","", :value => @product.id %>
                  <div class="control-group">
                    <%= label_tag "report[s_report][report_lines_attributes][#{index}][data]","#{brand.name} sales", :class => 'control-label' %>
                    <div class="controls">
                      <%= text_field_tag "report[s_report][report_lines_attributes][#{index}][data]","", :class => 'input-xlarge', "data-rule-required"=>"true" %>
                    </div>
                  </div>
                <% end -%>
                <div class="single-step">
                  <span class="circle">
                  <span class="active"></span> 
                  </span>
                  <span class="description">
                    <h3>  Display Corner Information </h3> <hr />
                  </span>
                  </span>
                </div>
                <%= hidden_field_tag "report[c_report][report_type]",'', :value => "display_corner" %>
                <% @product.brands.each_with_index do |brand,index| %>
                  <%= hidden_field_tag "report[c_report][report_lines_attributes][#{index}][brand_id]","", :value => brand.id %>
                  <%= hidden_field_tag "report[c_report][report_lines_attributes][#{index}][#{(@product.class.to_s.underscore + '_id')}]","", :value => @product.id %>
                  <div class="control-group">
                    <%= label_tag "report[c_report][report_lines_attributes][#{index}][data]","#{brand.name} display corner", :class => 'control-label' %>
                    <div class="controls">
                      <label class="radio"><%= radio_button_tag "report[c_report][report_lines_attributes][#{index}][data]", "1" %>Yes</label>
                      <label class="radio"><%= radio_button_tag "report[c_report][report_lines_attributes][#{index}][data]", "0" %>No</label>
                    </div>
                  </div>
                <% end -%>
              </div>
            <div class="form-actions">
              <input type="reset" class="btn" value="Back" id="back">
              <input type="submit" class="btn btn-primary" value="Submit" id="next">
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
