<h1><%= params[:type].capitalize %> Report</h1>

<%= form_for [@shop,@report], :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.hidden_field :report_type, :value => params[:type] %>

  <% Product.all.each do |product| %>

    <div class="well">
      <blockquote>
        <p><%= product.name %></p>
        <small><%= product.info %></small>
      </blockquote>
    </div>

    <% if params[:type]=='sales' %>
      <div class="control-group">
        <%= f.label :start_at,"Report From", :class => 'control-label' %>
        <div class="controls">
          <div class="input-append date datepicker" data-date-format="dd-mm-yyyy">
            <%= f.text_field :start_at, :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :end_at,"Report Till", :class => 'control-label' %>
        <div class="controls">
          <div class="input-append date datepicker" data-date-format="dd-mm-yyyy">
            <%= f.text_field :end_at, :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
          </div>
        </div>
      </div>
      <hr>
    <% end -%>

    <% product.brands.each do |brand| %>
      <div class="control-group">
        <%= label_tag dom_id(brand),"#{[brand.name, params[:type].capitalize].join(' ')}", :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag "report[data][#{product.name}][#{brand.name}]",'', :class => 'text_field' %>
        </div>
      </div>
    <% end -%>


  <% end -%>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                brands_path, :class => 'btn' %>
  </div>
<% end %>
