<h1><%= params[:type].capitalize %> Report</h1>

<%= form_for [@shop,@report], :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.hidden_field :report_type, :value => params[:type] %>

  <% if params[:type]=='sales' %>
    <div class="control-group">
      <%= f.label :start_at,"Report From", :class => 'control-label' %>
      <div class="controls">
        <div class="input-append date datepicker" data-date-format="dd-mm-yyyy">
          <%= f.text_field :start_at, :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :end_at,"Report Till", :class => 'control-label' %>
      <div class="controls">
        <div class="input-append date datepicker" data-date-format="dd-mm-yyyy">
          <%= f.text_field :end_at, :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
    </div>
    <hr>
  <% end -%>

  <% count = 0 %>
  <%= f.fields_for :report_lines do |line| %>

    <% unless @products[count].nil? %>
      <div class="well">
        <blockquote>
          <p><%= @products[count].name %></p>
          <small><%= @products[count].info %></small>
        </blockquote>
      </div>
    <% end -%>

    <%= line.hidden_field :brand_id %>
    <%= line.hidden_field :product_id %>
    <div class="control-group">
      <%= line.label :data,"#{@brands[count].name} #{params[:type]}", :class => 'control-label' %>
      <div class="controls">
        <%= line.text_field :data, :class => 'text_field' %>
      </div>
    </div>
    <% count = count +1 %>
  <% end -%>



  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                brands_path, :class => 'btn' %>
  </div>
<% end %>
