<% unless @shop.blank? %>
  <div class="content-header shop-head-content">
    <div class="header-section shop-header">
      <% if @shop.avatar.present?  %>
        <%= image_tag(@shop.avatar.avatar.url(:thumb), :class =>"pull-left img-circle") %>
      <% else %>
        <%= image_tag('/assets/default.png', :class => "img-circle pull-left" , :size => "65x70" )%>
      <% end %>
      <h1 class="shop-heading"><%= @shop.dealer_name %></h1>
    </div>
    <ul class="breadcrumb breadcrumb-top">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><%= link_to "Shops", shops_path %></li>
      <li><%= link_to @shop.dealer_name, @shop %></a></li>
      <li> Image </li>
    </ul>
  </div>
<% end %>

<% unless @dealer.blank? %>
  <div class="content-header shop-head-content">
    <div class="header-section shop-header">
      <div class="row">
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1><strong><%= @dealer.name %></strong><br></h1>
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="row text-center">
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= @dealer.shops.count %></strong><br>
                <small><i class="fa fa-map-marker"></i> Shops</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= @dealer.shops.collect(&:posts).collect(&:published_reports).count %></strong><br>
                <small><i class="fa fa-bar-chart-o"></i> SVRs</small>
              </h2>
            </div>
            <div class="col-sm-3 hidden-xs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if params[:class] == "shops" %>
  <div class="content-header content-header-media dealer-head-content">
    <div class="header-section">
      <div class="row">
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1><strong>Shops</strong><br></h1>
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="row text-center">
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= Shop.count %></strong><br>
                <small><i class="fa fa-map-marker"></i> Shops</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= Post.published_reports.count %></strong><br>
                <small><i class="fa fa-bar-chart-o"></i> SVRs</small>
              </h2>
            </div>
            <div class="col-sm-3 hidden-xs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if params[:class] == "dealers" %>
  <div class="content-header content-header-media dealer-head-content">
    <div class="header-section">
      <div class="row">
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1><strong>Dealers</strong><br></h1>
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="row text-center">
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= Dealer.count %></strong><br>
                <small><i class="fa fa-calendar-o"></i>  Dealers </small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= Shop.count %></strong><br>
                <small><i class="fa fa-map-marker"></i> Shops</small>
              </h2>
            </div>
            <div class="col-xs-4 col-sm-3">
              <h2 class="animation-hatch">
                <strong><%= Post.published_reports.count %></strong><br>
                <small><i class="fa fa-bar-chart-o"></i> SVRs</small>
              </h2>
            </div>
            <div class="col-sm-3 hidden-xs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="block block-color block-bordered">
      <div class="block-title">
        <h3>
          <i class="icon-picture"></i>
          Picture
        </h3>
      </div>
      <div class="block-content">
        <div>
          <% if @image.class.to_s == "upload" or @image.class.to_s == "Upload"%>
            <%= image_tag @image.upload.url(:medium), :class => "image-view" %>
          <% else %>
            <%= image_tag @image.avatar.url(:medium), :class => "image-view" %>
          <% end %>
        </div>
         <div class="media">
            <div class="comment-length pull-right"> Total comments :  <span class="length"><%= @length  %></span></div>
            <% if @length > 10 %>
              <div class="view_more pull-right"><%= link_to 'View all', 'javascript:;', :data => {:image => @image.id, :type => @image.class.to_s}, :class => "view_all_link btn btn-xs btn-default push"  %> </div>
            <% end %>
          </div>
        <ul class="media-list push">

          <div class="comments-content">
            <%= render :partial => "/shared/view_comments"%>
          </div>
          <li class="media">
             <%= link_to raw(image_tag(current_user.get_avatar.avatar(:thumb), :class => "img-circle comment-user-image")), activities_path(:user_id => current_user.id),:class => "pull-left comment-user-image-link" %>
              <div class="media-body">
                <%= form_for :comment, :url => create_comment_image_path(@image) do |f| %>
                  <%= f.text_area :content , :class => "form-control", :rows => 2, :placeholder => "Your comment .." %>
                  <% if @image.class.to_s == "Upload" or @image.class.to_s == "upload"%>
                    <%= hidden_field_tag :type, "upload" %>
                  <% else %>
                    <%= hidden_field_tag :type, "avatar" %>
                  <% end %>
                  <button type="submit" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Post Comment</button>
                <% end %>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>