<div id="navigation">
  <div class="container-fluid">
    <a href="#" id="brand">ORIENT</a>
    <ul class='main-nav'>
      <li>
        <a href="/reports">
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
          <span>Dealers Network</span>
          <span class="caret"></span>
        </a>
        <ul class='dropdown-menu'>
          <% if can? :read, Dealer %>
            <li class='dropdown-submenu'>
              <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Dealers</a>
              <ul class="dropdown-menu">
                <li >
                  <a href="/dealers">View All</a>
                </li>
                <li>
                  <a href="/dealers/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, Shop %>
            <li class='dropdown-submenu'>
              <a href="#">Shops</a>
              <ul class="dropdown-menu" >
                <li>
                  <a href="/shops">View All</a>
                </li>
                <li>
                  <a href="/shops/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, ShopCategory %>
            <li class='dropdown-submenu'>
              <a href="#">Shop Category</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/shop_categories">View All</a>
                </li>
                <li>
                  <a href="/shop_categories/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, City %>
            <li class="dropdown-submenu">
              <a href="#">City</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/cities">View All</a>
                </li>
                <li>
                  <a href="/cities/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, ProductCategory %>
            <li class="dropdown-submenu">
              <a href="#">Porduct Category</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/product_categories">View All</a>
                </li>
                <li>
                  <a href="/product_categories/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, Product %>
            <li class="dropdown-submenu">
              <a href="#">Product</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/products">View All</a>
                </li>
                <li>
                  <a href="/products/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, Brand %>
            <li class="dropdown-submenu">
              <a href="#">Brand</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/brands">View All</a>
                </li>
                <li>
                  <a href="/brands/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
          <% if can? :read, Role %>
            <li class="dropdown-submenu">
              <a href="#">Role</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/roles">View All</a>
                </li>
                <li>
                  <a href="/roles/new">Add New</a>
                </li>
              </ul>
            </li>
          <% end -%>
        </ul>
      </li>
    </ul>
    <div class="user">
      <div class="dropdown">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><%= current_user.name %> <%= image_tag current_user.get_avatar.avatar.url(:small_thumb), :size => "27x27" %></a>
        <ul class="dropdown-menu pull-right">
          <li>
            <%= link_to "Edit Profile", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
    <%= render :partial => 'searches/search' %>
  </div>
</div>